.logo {
	background: image-url('shared/logo.png') right 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;

	.b-link {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.slogan {
	background: image-url('shared/slogan.png') right 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 50%;
	left: 50%;

	.b-link {
		display: block;
	}
}

.m-nav-menu {
	font-size: 0;

	.b-link {
		display: block;
		width: 100%;
		height: 100%;
		/*height: 5.94vw;*/
		color: #000;
		@include box-sizing(border-box);

		/*&:before {
			content: '';
			background: image-url('shared/icons.png') 0 0 no-repeat;
			background-size: 36px auto;
			display: inline-block;
			vertical-align: middle;
		}

		&.foot-print:before {
			width: 33px;
			height: 28px;
		}

		&.index:before {
			background-position: 0 -28px;
			width: 36px;
			height: 28px;
		}

		&.facebook:before {
			background-position: 0 -56px;
			width: 32px;
			height: 31px;
		}

		&.line:before {
			background-position: 0 -87px;
			width: 36px;
			height: 36px;
		}

		.svg-icon {
			display: none;
		}*/
	}
}

.btn-slide-down {
	position: relative;
	overflow: visible;
	z-index: 1;

	&:before {
		content: '';
		display: block;
		border-top: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #fff;
		border-left: 6px solid #fff;
		@include box-sizing(border-box);
		@include transform(scale(1, 0.85) rotate(-45deg));
	}
}

.btn-rainbow {
	margin-bottom: 6px;
	padding: 6px;
	display: inline-block;
	position: relative;
	overflow: hidden;

	&:before, &:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	&:before {
		background: #fffbf8;
	}

	&:after {
		opacity: 0.15;
		@include background-image(linear-gradient(to right, #ff0000 12%, #fffc00 28%, #01b439 45%, #00eaff 60%, #000390 75%, #ff00c6 88%));
	}

	> * {
		position: relative;
		z-index: 1;
	}

	.text {
		background: #fffbf8;
		color: #3d3d3d;
		letter-spacing: 1px;
	}
}

.icon-arrow-right {
	display: inline-block;
	width: 0;
	height: 0;
}

@include respond(Desktops) {
	.m-nav-menu {
		.foot-print, .index {
			&:hover .svg-icon {
				fill: #adc56e;
			}
		}

		.facebook:hover .svg-icon {
			fill: #3b5998;
		}
	}
}

@include respond(Desktops-Tablets) {
	.logo {
		margin-top: -1.25vw;
		width: 7.86vw;
		height: 2.5vw;
		top: 50%;
		left: 1.72vw;
	}

	.slogan {
		margin: -1.5vw 0 0 -14.2vw;
		width: 28.39vw;
		height: 3vw;
	}

	.m-nav {
		position: absolute;
		top: 0;
		right: 0;

		.m-nav-menu .list {
			display: inline-block;
			vertical-align: top;
			font-size: 1.25vw;

			.b-link {
				padding-right: 1vw;
			}

			.facebook {
				padding-left: 1vw;
				border-left: 1px solid #b1b1b1;
			}

			.foot-print, .index {
				.svg-icon {
					width: 1.72vw;
					height: 1.41vw;
				}
			}

			.facebook, .line {
				font-size: 1.875vw;
				line-height: 5.94vw;

				.svg-icon {
					width: 1.98vw;
					height: 1.875vw;
				}
			}
		}
	}

	.foot-print, .index {
		.svg-icon {
			fill: #000;
		}
	}

	.facebook, .line {
		.svg-icon {
			fill: #696969;
		}
	}

	.btn-slide-down:before {
		margin: -1.04vw 0 0 -1.04vw;
		width: 2.08vw;
		height: 2.08vw;
		border-width: 0.3125vw;
	}

	.btn-rainbow {
		border-radius: 2.4vw;
		box-shadow: 0 0.89vw rgba(0, 0, 0, 0.15);
	}

	.icon-arrow-right {
		border-top: 0.625vw solid transparent;
		border-bottom: 0.625vw solid transparent;
		border-left: 1.15vw solid #000;
	}
}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {
	/*.m-nav .m-nav-menu .list .b-link {
		height: auto;

		&:before {
			background-size: 24px auto;
		}
	
		&.foot-print:before {
			width: 22px;
			height: 19px;
		}
	
		&.index:before {
			background-position: 0 -19px;
			width: 24px;
			height: 19px;
		}
	
		&.facebook:before {
			background-position: 0 -38px;
			width: 21px;
			height: 20px;
		}
	
		&.line:before {
			background-position: 0 -58px;
			width: 24px;
			height: 23px;
		}
	}*/
}

@include respond(Mobiles) {
	.logo {
		margin-top: -10.5px;
		width: 64px;
		height: 21px;
		top: 50%;
		left: 16px;
	}

	.slogan {
		margin: -10px 0 0 -72px;
		width: 178px;
		height: 19px;
	}

	.btn-menu {
		padding-top: 30px;
		display: block;
		width: 45px;
		height: 50px;
		position: absolute;
		top: 0;
		right: 0;
		border-left: 1px solid #767b7c;
		z-index: 2;
		@include box-sizing(border-box);

		&.is-hover {
			position: fixed;

			&:before {
				margin-top: -4px;
				background: #fff;
				@include transform(rotate(-30deg));
			}

			&:after {
				margin-top: -4px;
				background: #fff;
				@include transform(rotate(30deg));
			}

			.text:before {
				opacity: 0;
			}

			.text:after {
				color: #fff;
			}

			~ .m-nav-menu {
				@include transform(rotateY(0deg));
			}
		}

		&:before, &:after {
			content: '';
			margin-left: -14px;
			background: #3c444d;
			display: block;
			width: 28px;
			height: 4px;
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform-origin(center, center);
			@include transition(ease-in all 0.3s);
		}

		&:before {
			margin-top: -14px;
		}

		&:after {
			margin-top: 2px;
		}

		.text {
			&:before {
				content: '';
				margin: -6px 0 0 -14px;
				background: #3c444d;
				display: block;
				width: 28px;
				height: 4px;
				position: absolute;
				top: 50%;
				left: 50%;
				@include transition(ease-in all 0.3s);
			}

			&:after {
				content: 'MENU';
				display: block;
				color: #3c444d;
				font-size: 12px;
				letter-spacing: 1px;
				line-height: 1em;
				text-align: center;
				@include transform(scale(0.7));
				@include transition(ease-in all 0.3s);
			}
		}
	}

	.m-nav-menu {
		background: rgba(62, 69, 79, 0.95);
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 75vw;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		box-shadow: -25vw 0 0 rgba(0, 0, 0, 0.5);
		font-size: 18px;
		line-height: 40px;
		@include transition(ease-in all 0.3s);
		@include transform(rotateY(90deg));
		@include transform-origin(right);

		.list {
			padding-left: 50px;
			width: 100%;
			@include box-sizing(border-box);

			&:nth-child(3) {
				margin-top: 10px;
				padding-top: 10px;
				border-top: 1px solid #99a3b1;
			}
		}

		.b-link {
			color: #fff;
			line-height: 40px;
			text-align: left;

			> * {
				vertical-align: middle;
			}
		}

		.svg-icon {
			width: 24px;
			height: 20px;
		}
	}

	.foot-print, .index {
		.svg-icon {
			fill: #adc56e;
		}
	}

	.facebook, .line {
		.svg-icon {
			fill: #bac6d6;
		}
	}

	.btn-slide-down:before {
		margin: -7px 0 0 -7px;
		width: 14px;
		height: 14px;
		border-width: 3px;
	}

	.btn-rainbow {
		border-radius: 5vw;
		box-shadow: 0 6px rgba(0, 0, 0, 0.15);
		text-align: center;
	}

	.icon-arrow-right {
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		border-left: 10px solid #000;
	}
}

@-moz-document url-prefix() {}