.main-content-ft .func-content {
	@include box-sizing(border-box);

	.desc {
		padding: 0;
	}

	.remark-list {
		padding-left: 14px;
		font-size: 12px;
		list-style: decimal outside;
		text-align: left;
	}
}

.form-list {
	text-align: left;

	.list {
		margin-bottom: 20px;

		&.error .input-box {
			border-color: #f54a4f;
		}
	}

	.enter-type {
		display: block;
	}

	.input-box {
		background: #ddd;
		height: 24px;
		line-height: 24px;
		border: 2px solid #fff;
		text-indent: 5px;
	}

	.warning {
		display: block;
		color: #f54a4f;
	}
}

.inform {
	background: #3e454f;
	height: 200px;
	overflow-y: scroll;
	color: #fff;
	font-size: 12px;
	line-height: 1.5em;
	text-align: left;
	@include box-sizing(border-box);

	.inform-title {
		margin-bottom: 10px;
		font-size: 14px;
	}

	.desc {
		margin: 0 0 10px 0;
		padding: 0;
	}

	.link {
		color: #fff;
		text-decoration: underline;
	}

	.term-list {
		padding-left: 24px;

		> .list {
			margin-top: 10px;
			text-indent: -24px;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	.sub-list {
		padding-left: 36px;

		> .list {
			text-indent: -36px;
		}
	}

	.detail-list {
		padding-left: 20px;

		> .list {
			text-indent: -20px;
		}
	}
}

@include respond-to(Desktops) {}

@include respond-to(Desktops-Tablets) {
	.main-content-bd .screen {
		padding: 50px 15px 0 15px;
		height: 256px;
		@include box-sizing(border-box);

		.msg-title {
			margin-bottom: 10px;
			font-size: 26px;
		}

		.desc {
			font-size: 19px;
			line-height: 30px;
		}
	}

	.main-content-ft .func-content {
		padding-right: 34px;
		padding-bottom: 27px;
		padding-left: 34px;

		.m-btn {
			width: 272px;
		}
	}

	.form-list {
		.enter-type {
			font-size: 18px;
		}

		.input-box {
			margin-bottom: 6px;
			width: 228px;
		}
	}

	.inform {
		margin: 15px 0 35px 0;
		padding: 20px 10px;
	}
}

@include respond-to(Tablets) {}

@include respond-to(Tablets-Mobiles) {}

@include respond-to(Mobiles) {
	.main-content-bd .screen {
		padding: 15px 10px;

		.msg-title {
			margin-bottom: 10px;
			font-size: 20px;
			line-height: 1.5em;
		}
	}

	.main-content-ft .func-content {
		padding-right: 22px;
		padding-bottom: 20px;
		padding-left: 22px;
	}

	.form-list {
		.enter-type {
			font-size: 15px;
		}

		.input-box {
			margin-bottom: 6px;
			width: 100%;
		}
	}

	.inform {
		margin: 15px 0 20px 0;
		padding: 10px;
	}

	.m-btn {
		display: block;
	}
}

@include browsers('IE') {}

@include browsers('IE8') {}