.dog-list {
	font-size: 0;

	.list {
		position: relative;
		@include background-image(linear-gradient(to bottom right, #f0efeb 0%, #c1bab6 100%));

		.hover-block {
			display: none;
		}

		.info {
			display: block;
		}

		.desc {
			position: absolute;
			color: #5a5a5a;
			line-height: 1.5em;
			text-align: left;

			.name {
				color: #000;
			}
		}
	}
}

.section-cut {
	position: relative;

	&.main-cut {
		border-top: 0;
	}

	.btn-slide-down {
		position: absolute;
		left: 50%;
	}
}

.video-cut {
	background: image-url('index/bg-video.jpg') 0 0 no-repeat;
	background-size: auto 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 47.19vw;
	position: relative;
	letter-spacing: 1px;
	text-align: center;

	&:before {
		content: '';
		background: #000;
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.5;
		z-index: 0;
	}

	> * {
		position: relative;
		z-index: 1;
	}

	.emphasize {
		color: #fff;

		.saying {
			display: block;
		}

		.celebrity {
			padding: 0 0.5em;
			display: inline-block;
			position: relative;
			font-size: 0.7143em;

			&:before, &:after {
				content: '';
				background: #fff;
				display: block;
				width: 1em;
				height: 1px;
				position: absolute;
				top: 50%;
			}

			&:before {
				left: 100%;
			}

			&:after {
				right: 100%;
			}
		}
	}

	.btn-play {
		color: #fff;
		font-weight: bold;
		letter-spacing: 1px;

		.svg-icon {
			display: block;
			fill: #fff;
		}

		.text {
			display: block;
		}
	}
}

.encounter-cut {
	background: #595463;
	@include box-sizing(border-box);

	.section-title, .desc {
		color: #fff;
		text-align: center;
	}

	.desc {
		display: block;
	}

	.encounter-linear {
		fill: #706c79;
		opacity: 0.37;
	}

	.encounter-list {
		.list:nth-child(2) .web {
			@include transform-origin(top, right);
			@include animation(catch 4s linear infinite);
		}

		.list:nth-child(4), .list:nth-child(5) {
			.what-happened {
				color: #fffec6;

				.strong {
					display: block;
				}
			}
		}

		.text {
			color: #fff;
		}
	}

	.what-happened {
		background: #302c39;
		display: inline-block;
		position: relative;
		color: #fff;
		@include box-sizing(border-box);

		&:before {
			content: '';
			display: block;
			width: 0;
			height: 0;
			position: absolute;
		}

		.strong, .bold {
			color: #fffec6;
			font-weight: bold;
		}
	}

	.kill-list .count {
		position: absolute;
		z-index: 2;
		color: #302c39;
		font-weight: bold;
		white-space: nowrap;

		&:before {
			content: '';
			background: #302c39;
			display: block;
			width: 0.25em;
			height: 0.25em;
			position: absolute;
		}

		&:nth-child(1):before {
			top: 1.25em;
			left: 0.25em;
			box-shadow: 0 0.375em #302c39, 0 0.75em #302c39, 0 1.125em #302c39, 0 1.5em #302c39, 0 1.875em #302c39;
		}

		&:nth-child(2):before {
			bottom: 0.25em;
			right: 105%;
			box-shadow: -0.375em 0 #302c39, -0.75em 0 #302c39, -1.125em 0 #302c39, -1.5em 0 #302c39, -1.875em 0 #302c39, -2.25em 0 #302c39, -2.625em 0 #302c39;
		}

		&:nth-child(3):before {
			bottom: 0.25em;
			right: 105%;
			box-shadow: -0.375em 0 #302c39, -0.75em 0 #302c39, -1.125em 0 #302c39, -1.5em 0 #302c39, -1.875em 0 #302c39, -2.25em 0 #302c39, -2.625em 0 #302c39, -3em 0 #302c39, -3.375em 0 #302c39, -3.75em 0 #302c39, -4.125em 0 #302c39, -4.5em 0 #302c39, -4.875em 0 #302c39;
		}

		&:nth-child(4):before {
			bottom: 0.25em;
			right: 105%;
			box-shadow: -0.375em 0 #302c39, -0.75em 0 #302c39, -1.125em 0 #302c39, -1.5em 0 #302c39, -1.875em 0 #302c39, -2.25em 0 #302c39, -2.625em 0 #302c39, -3em 0 #302c39, -3.375em 0 #302c39, -3.75em 0 #302c39, -4.125em 0 #302c39, -4.5em 0 #302c39, -4.875em 0 #302c39;
		}

		&:nth-child(5):before {
			bottom: 1.25em;
			left: 0.25em;
			box-shadow: 0 -0.375em #302c39, 0 -0.75em #302c39, 0 -1.125em #302c39, 0 -1.5em #302c39;
		}

		&:nth-child(6):before {
			bottom: 0.25em;
			left: 105%;
			box-shadow: 0.375em 0 #302c39, 0.75em 0 #302c39, 1.125em 0 #302c39, 1.5em 0 #302c39, 1.875em 0 #302c39, 2.25em 0 #302c39, 2.625em 0 #302c39;
		}

		&:nth-child(7):before {
			bottom: 0.25em;
			left: 105%;
			box-shadow: 0.375em 0 #302c39, 0.75em 0 #302c39, 1.125em 0 #302c39, 1.5em 0 #302c39;
		}

		&:nth-child(8):before {
			bottom: 0.25em;
			left: 105%;
			box-shadow: 0.375em 0 #302c39, 0.75em 0 #302c39, 1.125em 0 #302c39, 1.5em 0 #302c39;
		}

		&:nth-child(9):before {
			bottom: 0.25em;
			left: 105%;
			box-shadow: 0.375em 0 #302c39;
		}

		&:nth-child(10):before {
			top: 1.25em;
			left: 0.25em;
			box-shadow: 0 0.375em #302c39, 0 0.75em #302c39, 0 1.125em #302c39, 0 1.5em #302c39;
		}

		&:nth-child(11):before {
			bottom: 0.25em;
			left: 105%;
			box-shadow: 0.375em 0 #302c39, 0.75em 0 #302c39, 1.125em 0 #302c39, 1.5em 0 #302c39;
		}
	}

	.bar-graph {
		border-bottom: 2px dashed #9d9d9c;
		z-index: 1;
		font-size: 0;
		white-space: nowrap;

		&.graph-ani .year-data {
			&:nth-child(1) .percentage {
				@include animation(y2013 1s ease-in-out forwards);
			}

			&:nth-child(2) .percentage {
				@include animation(y2014 1s 0.3s ease-in-out forwards);
			}

			&:nth-child(3) .percentage {
				@include animation(y2015 1s 0.6s ease-in-out forwards);
			}

			&:nth-child(4) .percentage {
				@include animation(y2016 1s 0.9s ease-in-out forwards);
			}
		}

		.year-data {
			display: inline-block;
			position: relative;
			color: #fff;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 100%;
				left: 50%;
				border-radius: 50%;
			}

			&:nth-child(1) {
				.percentage {
					background: #d94a60;
				}

				&:before {
					background: #d94a60;
				}
			}

			&:nth-child(2) {
				.percentage {
					background: #5a476c;
				}

				&:before {
					background: #5a476c;
				}
			}

			&:nth-child(3) {
				.percentage {
					background: #44858e;
				}

				&:before {
					background: #44858e;
				}
			}

			&:nth-child(4) {
				.percentage {
					background: #93d3d9;
				}

				&:before {
					background: #93d3d9;
				}
			}
		}

		.bar-wrap {
			background: #dadada;
			position: relative;

			.percentage {
				height: 0;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				overflow: hidden;
				line-height: 2.5em;
				text-align: center;
			}
		}

		.year {
			display: block;
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			line-height: 1em;
			white-space: nowrap;
		}
	}

	.source {
		color: #302c39;
		font-weight: bold;
	}
}

.after-cut {
	background: #f3e8e0;

	.section-title, .desc {
		color: #2f2d40;
	}

	.desc {
		display: block;
	}

	.situation-list {
		overflow: hidden;

		.list {
			position: relative;
	
			&:before {
				content: '';
				display: block;
				width: 0;
				height: 0;
				position: absolute;
				bottom: 100%;
				left: 0;
			}

			&:nth-child(1) .animation-wrap {
				&:before, &:after {
					content: '';
					background: #000;
					display: block;
					position: absolute;
					border-radius: 50%;
				}

				&:before {
					opacity: 0.19;
					z-index: 1;
				}

				&:after {
					opacity: 0.33;
					z-index: 0;
				}

				> * {
					position: absolute;
				}

				.ball, .play-ball {
					z-index: 1;
				}
			}
	
			&:nth-child(2) {
				background: #ffe5d2;
	
				&:before {
					border-top: 3.125vw solid transparent;
					border-right: 50vw solid transparent;
					border-bottom: 3.125vw solid #ffe5d2;
					border-left: 50vw solid #ffe5d2;
				}

				.animation-wrap > * {
					position: absolute;
					@include transform(scale(-1, 1));
				}
			}
	
			&:nth-child(3) {
				background: #f9dac3;
	
				&:before {
					border-top: 2.5vw solid transparent;
					border-right: 50vw solid #f9dac3;
					border-bottom: 2.5vw solid #f9dac3;
					border-left: 50vw solid transparent;
				}

				.animation-wrap .scale {
					position: absolute;

					.svg-icon {
						position: relative;
					}

					.platform {
						background: #ad4837;
						position: absolute;
						left: 50%;

						&:after {
							content: '';
							background: #813628;
							display: block;
							position: absolute;
							top: 100%;
							left: 50%;
						}
					}

					.count {
						position: absolute;
						bottom: 100%;
						left: 0;
						right: 0;
						color: #ad4837;
						font-weight: bold;
						line-height: 1em;
						text-align: center;
						text-shadow: 1px 0px #ad4837;
					}

					.pointer {
						position: absolute;
						top: 50%;
						left: 50%;

						&:before, &:after {
							content: '';
							background: #ad4837;
							display: block;
							position: absolute;
							left: 50%;
							z-index: 0;
						}

						.center {
							background: #524641;
							display: block;
							width: 100%;
							height: 100%;
							position: relative;
							border-radius: 50%;
							z-index: 1;
						}
					}
				}
			}
	
			.svg-icon {
				position: absolute;
			}
		}
	}

	.story {
		color: #494848;
		letter-spacing: 1px;
		line-height: 1.5em;

		.emphasize {
			display: block;
			font-weight: bold;
			line-height: 1.5em;
		}
	}

	.animation-wrap {
		position: absolute;

		&.weighing-ani .pointer {
			@include animation(weighing 1s 0.2s ease-in-out forwards);
		}
	}
}

.donate-cut {
	background: #fff5ee;
	position: relative;

	&:before {
		content: '';
		background: image-url('index/bg-donate.png') right 0 no-repeat;
		display: block;
		width: 100%;
		position: absolute;
		left: 0;
		z-index: 0;
	}

	> * {
		position: relative;
		z-index: 1;
	}

	.section-title, .desc {
		color: #220e00;
	}

	.desc {
		font-weight: bold;
		letter-spacing: 1px;
	}

	.btn-rainbow {
		margin-top: 2.19vw;

		.text {
			display: block;
			letter-spacing: 1px;
		}

		.icon-arrow-right {
			position: absolute;
			top: 50%;
		}
	}
}

@include keyframes(slideshow-5) {
	0% {
		top: 0;
	}

	100% {
		top: -400%;
	}
}

@include keyframes(slideshow-6) {
	0% {
		top: 0;
	}

	100% {
		top: -500%;
	}
}

@include keyframes(slideshow-7) {
	0% {
		top: 0;
	}

	100% {
		top: -600%;
	}
}

@include keyframes(slideshow-8) {
	0% {
		top: 0;
	}

	100% {
		top: -700%;
	}
}

@include keyframes(slideshow-10) {
	0% {
		top: 0;
	}

	100% {
		top: -900%;
	}
}

@include keyframes(cry) {
	0% {
		top: 41.27vw;
		opacity: 1;
	}

	25% {
		opacity: 1;
	}

	50% {
		top: 42.27vw;
		opacity: 0;
	}

	100% {
		top: 41.27vw;
		opacity: 0;
	}
}

@include keyframes(cry-m) {
	0% {
		bottom: 34px;
		opacity: 1;
	}

	25% {
		opacity: 1;
	}

	50% {
		bottom: 30px;
		opacity: 0;
	}

	100% {
		bottom: 34px;
		opacity: 0;
	}
}

@include keyframes(bark) {
	0%, 12.5%, 25%, 37.5%, 50%, 62.5%, 75%, 100% {
		margin-left: 0;
	}

	6.25%, 31.25%, 56.25% {
		margin-left: -1px;
	}

	19.75%, 44.75%, 69.75% {
		margin-left: 1px;
	}
}

@include keyframes(catch) {
	0%, 25%, 50%, 75%, 100% {
		@include transform(rotate(-10deg));
	}

	12.5%, 37.5%, 62.5% {
		@include transform(rotate(20deg));
	}
}

@include keyframes(float) {
	0% {
		top: 62vw;
		opacity: 0;
	}

	50%, 75% {
		top: 60vw;
		opacity: 1;
	}

	100% {
		top: 60vw;
		opacity: 0;
	}
}

@include keyframes(float-m) {
	0% {
		top: 128px;
		opacity: 0;
	}

	50%, 75% {
		top: 114px;
		opacity: 1;
	}

	100% {
		top: 114px;
		opacity: 0;
	}
}

@include keyframes(y2013) {
	0% {
		height: 0;
	}

	100% {
		height: 62%;
	}
}

@include keyframes(y2014) {
	0% {
		height: 0;
	}

	100% {
		height: 48%;
	}
}

@include keyframes(y2015) {
	0% {
		height: 0;
	}

	100% {
		height: 30%;
	}
}

@include keyframes(y2016) {
	0% {
		height: 0;
	}

	100% {
		height: 21%;
	}
}

@include keyframes(show-play-ball) {
	0% {
		top: 22.14vw;
		opacity: 0;
	}

	100% {
		top: 2.14vw;
		opacity: 1;
	}
}

@include keyframes(show-senior-official) {
	0% {
		margin-left: 25.16vw;
		opacity: 0;
	}

	100% {
		margin-left: 5.16vw;
		opacity: 1;
	}
}

@include keyframes(food-drop) {
	0% {
		margin-top: -200px;
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		margin-top: 0;
		opacity: 1;
	}
}

@include keyframes(food-drop-m) {
	0% {
		margin-top: -100px;
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		margin-top: 0;
		opacity: 1;
	}
}

@include keyframes(weighing) {
	0% {
		@include transform(rotate(0deg));
	}

	50% {
		@include transform(rotate(297deg));
	}

	60% {
		@include transform(rotate(285deg));
	}

	70% {
		@include transform(rotate(294deg));
	}

	80% {
		@include transform(rotate(287deg));
	}

	90% {
		@include transform(rotate(292deg));
	}

	100% {
		@include transform(rotate(290deg));
	}
}

@include respond(Desktops) {
	.dog-list .list {
		cursor: pointer;
	}
}

@include respond(Desktops-Tablets) {
	.l-content {
		padding-top: 5.94vw;
	}

	.main-cut {
		height: calc(100vh - 5.94vw);
	}

	.dog-list {
		height: 100%;
		overflow: hidden;

		.list {
			display: inline-block;
			width: 25%;
			height: 33.33%;
			overflow: hidden;

			&:hover, &.is-hover {
				img {
					position: relative;
				}

				.hover-block {
					display: inline-block;
				}

				.hover-hide {
					display: none;
				}

				&:nth-child(2) .hover-block, &:nth-child(10) .hover-block {
					height: 500%;
					@include animation(slideshow-5 0.83s steps(4, end) infinite);
				}

				&:nth-child(1) .hover-block, &:nth-child(5) .hover-block, &:nth-child(6) .hover-block, &:nth-child(8) .hover-block, &:nth-child(9) .hover-block {
					height: 600%;
					@include animation(slideshow-6 1s steps(5, end) infinite);
				}

				&:nth-child(3) .hover-block, &:nth-child(11) .hover-block {
					height: 700%;
					@include animation(slideshow-7 1.17s steps(6, end) infinite);
				}

				&:nth-child(7) .hover-block {
					height: 800%;
					@include animation(slideshow-8 1.33s steps(7, end) infinite);
				}

				&:nth-child(4) .hover-block, &:nth-child(12) .hover-block {
					height: 1000%;
					@include animation(slideshow-10 1.67s steps(9, end) infinite);
				}
			}

			&:nth-child(1) .desc {
				top: 14%;
				left: 62.5%;
			}

			&:nth-child(2) .desc {
				top: 48%;
				left: 7.5%;
			}

			&:nth-child(3) .desc {
				top: 64%;
				left: 65%;
			}

			&:nth-child(4) .desc {
				top: 12%;
				left: 70%;
			}

			&:nth-child(5) .desc {
				top: 9%;
				left: 62.5%;
			}

			&:nth-child(6) .desc {
				top: 33%;
				left: 8.75%;
			}

			&:nth-child(7) .desc {
				top: 33%;
				left: 7.5%;
			}

			&:nth-child(8) .desc {
				top: 10%;
				left: 10%;
			}

			&:nth-child(9) .desc {
				top: 16%;
				left: 62.5%;
			}

			&:nth-child(10) .desc {
				top: 31%;
				left: 12%;
			}

			&:nth-child(11) .desc {
				top: 16%;
				left: 71%;
			}

			&:nth-child(12) .desc {
				top: 16%;
				left: 64%;
			}

			.img-wrap {
				margin: -5% 0 0 -50%;
				width: 200%;
				height: 120%;
				text-align: center;
			}

			img {
				height: 100%;
			}

			.desc {
				font-size: 0.94vw;

				.name {
					margin-right: 5px;
					font-size: 1.25vw;
				}
			}
		}
	}

	.section-cut {
		border-top: 4px solid #fff;

		.btn-slide-down {
			bottom: 1.56vw;
		}
	}

	.video-cut {
		.emphasize {
			font-size: 1.46vw;
			line-height: 2em;
		}

		.btn-play {
			margin-top: 1.04vw;
			color: #fff;

			.svg-icon {
				width: 7.97vw;
				height: 7.92vw;
			}

			.text {
				margin-top: 1.25em;
				font-size: 1.04vw;
			}
		}
	}

	.encounter-cut {
		padding: 3.4375vw 0;
		height: 115.42vw;
		position: relative;

		.section-title {
			font-size: 4.2vw;
		}

		.encounter-linear {
			margin-left: -39.425vw;
			width: 78.85vw;
			height: 83.33vw;
			position: absolute;
			top: 40.21vw;
			left: 50%;
			z-index: 0;
		}

		.desc {
			font-size: 2.08vw;
		}

		.encounter-list .list {
			&:nth-child(1) {
				.what-happened {
					margin-bottom: 1.67vw;
					top: 22.14vw;
					left: 27.29vw;
	
					&:before {
						top: 100%;
						left: 13.86%;
						border-top: 1.67vw solid #302c39;
						border-right: 0.83vw solid transparent;
						border-left: 0.83vw solid transparent;
					}
				}

				.abandon {
					width: 23.54vw;
					height: 19.53vw;
					top: 27.24vw;
					left: 10.94vw;
				}

				.tear-drop {
					width: 0.365vw;
					height: 1.41vw;
					top: 41.77vw;
					left: 25.78vw;
					@include animation(cry 3s ease-in-out infinite);
				}
			}

			&:nth-child(2) {
				.what-happened {
					margin-bottom: 1.46vw;
					top: 20.05vw;
					left: 62.92vw;
					z-index: 2;
	
					&:before {
						top: 100%;
						left: 12.86%;
						border-top: 1.46vw solid #302c39;
						border-right: 0.73vw solid transparent;
						border-left: 0.73vw solid transparent;
					}
				}

				.shelter {
					width: 12.08vw;
					height: 14.11vw;
					top: 29.53vw;
					left: 52.71vw;
					/*@include animation(bark 4s linear infinite);*/
				}

				.web {
					width: 7.92vw;
					height: 8.65vw;
					top: 30.625vw;
					left: 68.54vw;
				}
			}

			&:nth-child(3) {
				.what-happened {
					margin-bottom: 2.4vw;
					top: 52.53vw;
					left: 72.5vw;
	
					&:before {
						top: 100%;
						left: 19.23%;
						border-top: 2.4vw solid #302c39;
						border-right: 1.2vw solid transparent;
						border-left: 1.2vw solid transparent;
					}
				}

				.euthanasia {
					width: 21.35vw;
					height: 10.42vw;
					top: 69.375vw;
					left: 57.08vw;
				}

				.soul {
					width: 6.25vw;
					height: 7.4vw;
					top: 60vw;
					left: 64.58vw;
					@include animation(float 4s ease-in-out infinite);
				}
			}

			&:nth-child(4) {
				.what-happened {
					margin-bottom: 1.36vw;
					padding: 1.04vw;
					top: 51.875vw;
					left: 13.96vw;
	
					&:before {
						top: 100%;
						right: 12.87%;
						border-top: 1.36vw solid #302c39;
						border-right: 0.68vw solid transparent;
						border-left: 0.68vw solid transparent;
					}
				}
			}

			&:nth-child(5) {
				padding-top: 6.46vw;
				position: absolute;
				top: 88.07vw;
				left: 29.74vw;

				.text {
					display: inline-block;
					width: 22.71vw;
					font-size: 1.46vw;
					line-height: 1.5em;
				}

				.what-happened {
					margin: 1.25vw 1.67vw 0 0;
					padding: 1.04vw 2.29vw;
					display: block;
					white-space: nowrap;

					&:before {
						margin-top: -0.83vw;
						top: 50%;
						left: 100%;
						border-top: 0.83vw solid transparent;
						border-bottom: 0.83vw solid transparent;
						border-left: 1.67vw solid #302c39;
					}
				}
			}

			&:nth-child(2), &:nth-child(3) {
				.what-happened .strong {
					margin-right: 10px;
				}
			}

			&:nth-child(4), &:nth-child(5) {
				.what-happened, .strong {
					font-size: 1.875vw;
					line-height: 1.5em;
				}
			}
		}

		.what-happened {
			padding: 1.04vw 1.875vw;
			position: absolute;
			border-radius: 1.875vw;
			z-index: 1;
			font-size: 1.46vw;
			line-height: 2em;

			.strong {
				font-size: 3.65vw;
			}

			.bold {
				font-size: 2.6vw;
			}
		}

		.curve {
			display: none;
		}

		.svg-icon {
			position: absolute;
			z-index: 1;
		}

		.map {
			width: 30.365vw;
			height: 30.57vw;
			position: absolute;
			top: 61.73vw;
			left: 12.76vw;

			.svg-icon {
				width: 100%;
				height: 100%;
			}
		}

		.kill-list .count {
			font-size: 1.25vw;
			line-height: 1em;

			&:nth-child(1) {
				top: -2.8vw;
				left: 27.24vw;
			}

			&:nth-child(2) {
				top: 5.31vw;
				left: 31.72vw;
			}

			&:nth-child(3) {
				top: 13.85vw;
				left: 29.64vw;
			}

			&:nth-child(4) {
				top: 23.75vw;
				left: 26.3vw;
			}

			&:nth-child(5) {
				top: 25.42vw;
				left: 1.04vw;
			}

			&:nth-child(6) {
				top: 17.27vw;
				left: 6.41vw;
			}

			&:nth-child(7) {
				top: 11.98vw;
				left: 8.24vw;
			}

			&:nth-child(8) {
				top: 9.27vw;
				left: 9.95vw;
			}

			&:nth-child(9) {
				top: 4.27vw;
				left: 13.48vw;
			}

			&:nth-child(10) {
				top: 2.81vw;
				left: 4.43vw;
			}

			&:nth-child(11) {
				top: 2.27vw;
				left: 14.24vw;
			}
		}

		.bar-graph {
			margin-left: 2vw;
			padding: 0 0.625vw 1.51vw 0.625vw;
			position: absolute;
			top: 0;
			left: 100%;

			.year-data {
				margin: 0 0.73vw;
				font-size: 1.67vw;

				&:before {
					margin: 1vw 0 0 -0.52vw;
					width: 1.04vw;
					height: 1.04vw;
				}
			}

			.bar-wrap {
				width: 3.65vw;
				height: 17.3vw;
				border-radius: 1.825vw 1.825vw 0 0;

				.percentage {
					border-radius: 1.825vw 1.825vw 0 0;
				}
			}

			.year {
				margin-top: 3.33vw;
			}
		}

		.source {
			position: absolute;
			bottom: 5.52vw;
			left: 80.83vw;
			font-size: 1.46vw;
		}
	}

	.after-cut {
		padding-top: 3vw;
		position: relative;

		&:before {
			content: '';
			background: #fff;
			display: block;
			width: 100%;
			height: 4px;
			position: absolute;
			top: -4px;
			left: 0;
			z-index: 1;
		}

		.section-title {
			font-size: 4.2vw;
			text-align: center;
		}

		.desc {
			margin-top: 1.875vw;
			font-size: 2.08vw;
			text-align: center;
		}

		.situation-list {
			margin-top: 2.5vw;

			.list:nth-child(1) {
				height: 33.75vw;

				.story {
					top: 7.08vw;
					left: 13.33vw;
					z-index: 1;
				}

				.encounter-linear {
					top: 0;
					right: 3.125vw;
					@include transform(scale(-1, -1));
				}

				.animation-wrap {
					width: 48.7vw;
					height: 37.86vw;
					top: 22.14vw;
					left: 7.14vw;
					opacity: 0;
					z-index: 0;

					&.go-ani {
						@include animation(show-play-ball 1s ease-in-out forwards);
					}

					&:before {
						width: 1.875vw;
						height: 0.89vw;
						top: 13.39vw;
						left: 29.53vw;
					}

					&:after {
						width: 12.29vw;
						height: 2.08vw;
						top: 22.03vw;
						left: 31.98vw;
					}
				}

				.ground-2 {
					width: 48.7vw;
					height: 25.78vw;
					bottom: 0;
					left: 0;
				}

				.ball {
					width: 4.22vw;
					height: 4.22vw;
					top: 0;
					left: 28.39vw;
				}

				.play-ball {
					width: 11.41vw;
					height: 13.44vw;
					top: 10.1vw;
					left: 33.23vw;
				}
			}

			.list:nth-child(2) {
				height: 16.04vw;

				.story {
					margin: 0 0 6.67vw 9.79vw;
					bottom: 100%;
					left: 50%;
				}

				.encounter-linear {
					margin-left: -39.425vw;
					top: 2.04vw;
					left: 50%;
					@include transform(scale(-1, 1));
				}

				.animation-wrap {
					margin-left: 25.16vw;
					width: 38.33vw;
					height: 41.41vw;
					bottom: -3.4375vw;
					left: 50%;
					opacity: 0;

					&.go-ani {
						@include animation(show-senior-official 1s ease-in-out forwards);
					}
				}

				.ground-3 {
					width: 100%;
					height: 22.24vw;
					bottom: 0;
					left: 0;
				}

				.senior-official {
					width: 24.74vw;
					height: 32.03vw;
					top: 0;
					left: 10.42vw;
				}
			}

			.list:nth-child(3) {
				height: 20.42vw;

				.story {
					margin-bottom: -4.48vw;
					bottom: 100%;
					left: 20.83vw;
				}

				.animation-wrap {
					top: 6.04vw;
					left: 26.25vw;

					.svg-icon {
						&.ground {
							width: 50.36vw;
							height: 24.22vw;
							top: 0;
							left: 0;
						}

						&:not(.ground) {
							width: 9.58vw;
						}

						&.food-1 {
							height: 10.3125vw;
							top: -2.29vw;
							left: 22.92vw;
							opacity: 0;
						}

						&.food-2 {
							height: 13.54vw;
							top: -7.86vw;
							left: 17.03vw;
							opacity: 0;
						}

						&.food-3 {
							height: 11.3vw;
							top: 5.21vw;
							left: 8.85vw;
							opacity: 0;
						}
					}

					.scale {
						top: 0.99vw;
						left: 33.7vw;

						.svg-icon {
							height: 8.39vw;
						}

						.platform {
							margin-left: -3.41vw;
							width: 6.82vw;
							height: 0.36vw;
							top: -1.4vw;

							&:after {
								margin-left: -0.235vw;
								width: 0.47vw;
								height: 2.08vw;
							}
						}

						.count {
							margin-bottom: 2.29vw;
							font-size: 1.46vw;
				
							strong {
								font-size: 2.6vw;
							}
						}

						.pointer {
							margin: -1.425vw 0 0 -0.625vw;
							width: 1.25vw;
							height: 1.25vw;

							&:before {
								margin-left: -0.165vw;
								width: 0.33vw;
								height: 3.54vw;
								bottom: -60%;
								border-radius: 0.165vw;
							}

							&:after {
								margin: -0.3125vw 0 0 -0.3125vw;
								width: 0.625vw;
								height: 0.625vw;
								top: 150%;
								border-radius: 50%;
							}
						}
					}
				}
			}
		}

		.story {
			position: absolute;
			font-size: 1.46vw;

			.emphasize {
				font-size: 2.6vw;
			}
		}

		.encounter-linear {
			width: 78.85vw;
			height: 83.33vw;
			position: absolute;
			fill: #e1c1a9;
			opacity: 0.26;
		}

		.animation-wrap.weighing-ani {
			.food-1 {
				@include animation(food-drop 0.3s ease-in-out forwards);
			}

			.food-2 {
				@include animation(food-drop 0.3s 0.2s ease-in-out forwards);
			}

			.food-3 {
				@include animation(food-drop 0.3s 0.4s ease-in-out forwards);
			}
		}
	}

	.donate-cut {
		padding: 4.2vw 0 4.2vw 12.24vw;

		&:before {
			background-size: auto 100%;
			height: 100%;
			top: 0;
		}

		.section-title {
			font-size: 3.125vw;
		}

		.desc {
			width: 21em;
			font-size: 1.46vw;
			line-height: 2em;
			text-align: left;
		}

		.btn-rainbow {
			.text {
				padding: 0.24em 2em 0.24em 1.2em;
				border-radius: 0.8em;
				font-size: 2.6vw;
				line-height: 1.5em;
			}

			.icon-arrow-right {
				margin-top: -0.625vw;
				right: 3.33vw;
			}
		}
	}
}

@include respond(Tablets) {
	.dog-list .list {
		width: 33.33%;
		height: 25%;

		&:nth-child(2) .desc {
			left: 4%;
		}

		&:nth-child(3) .desc {
			left: 68%;
		}

		&:nth-child(6) .desc {
			top: 20%;
		}

		&:nth-child(7) .desc {
			top: 15%;
		}

		&:nth-child(10) .desc {
			top: 22%;
			left: 7%;
		}

		&:nth-child(12) .desc {
			left: auto;
			right: 1%;
		}

		.img-wrap {
			margin-top: 0;
			height: 100%;
		}
	}
}

@include respond(Tablets-Mobiles) {
	.dog-list {
		.list.is-hover {
			img {
				position: relative;
			}
	
			.hover-block {
				display: inline-block;
			}
	
			.hover-hide {
				display: none;
			}
		}

		.owl-item {
			&:nth-child(2), &:nth-child(10) {
				.is-hover .hover-block {
					height: 500%;
					@include animation(slideshow-5 0.83s steps(4, end) infinite);
				}
			}

			&:nth-child(3), &:nth-child(11) {
				.is-hover .hover-block {
					height: 700%;
					@include animation(slideshow-7 1.17s steps(6, end) infinite);
				}
			}

			&:nth-child(4), &:nth-child(12) {
				.is-hover .hover-block {
					height: 1000%;
					@include animation(slideshow-10 1.67s steps(9, end) infinite);
				}
			}

			&:nth-child(7) .is-hover .hover-block {
				height: 800%;
				@include animation(slideshow-8 1.33s steps(7, end) infinite);
			}

			&:nth-child(1), &:nth-child(5), &:nth-child(6), &:nth-child(8), &:nth-child(9) {
				.is-hover .hover-block {
					height: 600%;
					@include animation(slideshow-6 1s steps(5, end) infinite);
				}
			}
		}
	}
}

@include respond(Mobiles) {
	.l-loading.b-dt-hide img {
		width: 320px;
	}

	.l-content {
		padding-top: 50px;
	}

	.dog-list {
		width: 100vw;
		height: 81.875vw;
		overflow: hidden;

		.owl-item {
			display: inline-block;
			vertical-align: top;

			&:nth-child(1) .desc {
				top: 14%;
				left: 62.5%;
			}

			&:nth-child(2) {
				img.hover-hide {
					margin-left: 30px;
				}

				.desc {
					top: 48%;
					left: 7.5%;
				}
			}

			&:nth-child(3) .desc {
				top: 64%;
				left: 65%;
			}

			&:nth-child(4) .desc {
				top: 12%;
				left: 70%;
			}

			&:nth-child(5) .desc {
				top: 9%;
				left: 56.5%;
			}

			&:nth-child(6) .desc {
				top: 14%;
				left: 8.75%;
			}

			&:nth-child(7) .desc {
				top: 17%;
				left: 7.5%;
			}

			&:nth-child(8) .desc {
				top: 10%;
				left: 10%;
			}

			&:nth-child(9) .desc {
				top: 16%;
				left: 54.5%;
			}

			&:nth-child(10) {
				img.hover-hide {
					margin-left: 10px;
				}

				.desc {
					top: 31%;
					left: 12%;
				}
			}

			&:nth-child(11) .desc {
				top: 16%;
				left: 65%;
			}

			&:nth-child(12) {
				img.hover-hide {
					margin-left: -30px;
				}

				.desc {
					top: 16%;
					right: 4%;
				}
			}
		}

		.list {
			display: table;
		}

		.img-wrap {
			display: table-cell;
			height: 81.875vw;
			vertical-align: bottom;
		}

		.list, .img-wrap {
			width: 100%;
			overflow: hidden;
		}

		img.hover-hide {
			width: 100%;
		}

		.desc {
			font-size: 18px;

			.name {
				font-size: 24px;
			}
		}

		.m-owl-dots.is-absolute {
			height: 44px;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			text-align: center;

			.m-owl-dot {
				display: inline-block;
				width: 26px;
				height: 100%;
				position: relative;

				&.active span {
					background: #f90;
				}

				span {
					margin: -4px 0 0 -4px;
					background: #fff;
					display: block;
					width: 8px;
					height: 8px;
					position: absolute;
					top: 50%;
					left: 50%;
					border-radius: 50%;
				}
			}
		}
	}

	.section-cut {
		border-top: 2px solid #fff;

		.btn-slide-down {
			margin-left: -22px;
			width: 44px;
			height: 44px;
			bottom: 0;

			&:before {
				position: absolute;
				top: 50%;
				left: 50%;
			}
		}
	}

	.video-cut {
		.emphasize .saying {
			font-size: 4vw;
		}

		.btn-play {
			margin-top: 10px;

			.svg-icon {
				width: 44px;
				height: 44px;
			}

			.text {
				margin-top: 10px;
			}
		}
	}

	.encounter-cut {
		padding: 24px 0 40px 0;
		overflow: hidden;

		.section-title {
			font-size: 30px;
		}

		.desc {
			font-size: 15px;
		}

		.encounter-list .list {
			margin: 0 auto;
			width: 320px;
			position: relative;

			> *:not(.curve) {
				position: relative;
				z-index: 1;
			}

			&:nth-child(1) {
				.abandon {
					margin: -50px 0 0 20px;
					width: 180px;
				}

				.tear-drop {
					width: 3px;
					height: 11px;
					position: absolute;
					bottom: 34px;
					left: 133px;
					@include animation(cry-m 3s ease-in-out infinite);
				}
			}

			&:nth-child(2) {
				.curve {
					right: -40px;
					@include transform(scale(-1, 1));
				}

				.what-happened {
					position: relative;
					z-index: 2;
				}

				.shelter {
					margin: -24px 0 0 40px;
					width: 117px;
					height: 136px;
				}

				.web {
					width: 77px;
					height: 84px;
					position: absolute;
					bottom: 46px;
					right: 50px;
				}
			}

			&:nth-child(3) {
				.euthanasia {
					margin: 20px 0 0 20px;
					width: 163px;
					height: 80px;
				}

				.soul {
					width: 47px;
					height: 56px;
					position: absolute;
					top: 114px;
					left: 76px;
					@include animation(float-m 4s ease-in-out infinite);
				}
			}

			&:nth-child(4) {
				text-align: center;

				.svg-icon {
					width: 246px;
				}

				.curve {
					width: 204px;
					height: 534px;
					right: -40px;
				}

				.what-happened {
					margin-right: 0;
					float: none;
					text-align: left;

					&:before {
						margin-left: -6px;
						left: 50%;
					}
				}
			}

			&:nth-child(5) {
				text-align: center;

				.text {
					font-size: 16px;
					text-align: left;
				}

				.what-happened {
					margin-right: 0;
					float: none;

					&:before {
						margin-left: -6px;
						left: 50%;
					}
				}
			}

			&:nth-child(1), &:nth-child(2), &:nth-child(3) {
				.strong {
					padding-right: 5px;
				}
			}
		}

		.what-happened {
			margin: 20px 6.25% 0 0;
			padding: 15px 20px;
			border-radius: 20px;
			float: right;
			font-size: 15px;
			letter-spacing: 1px;

			&:before {
				top: 100%;
				left: 13.86%;
				border-top: 12px solid #302c39;
				border-right: 6px solid transparent;
				border-left: 6px solid transparent;
			}

			.strong {
				font-size: 22px;
			}

			.bold {
				font-size: 18px;
			}
		}

		.curve {
			width: 190px;
			height: 290px;
			position: absolute;
			top: 48px;
		}

		.map {
			margin: 0 auto;
			padding-right: 20px;
			width: 246px;
			height: 322px;
			position: relative;
			clear: both;

			.svg-icon {
				width: 100%;
				height: 100%;
			}
		}

		.kill-list .count {
			font-size: 12px;
			line-height: 1em;

			&:nth-child(1) {
				top: 10px;
				right: 10px;

				&:before {
					left: 2.25em;
				}
			}

			&:nth-child(2) {
				width: 20px;
				top: 72px;
				right: -6px;
				text-align: center;
				white-space: normal;

				&:before {
					top: 1em;
				}
			}

			&:nth-child(3) {
				top: 150px;
				right: -6px;

				&:before {
					box-shadow: -0.375em 0 #302c39, -0.75em 0 #302c39, -1.125em 0 #302c39;
				}
			}

			&:nth-child(4) {
				bottom: 84px;
				right: -6px;

				&:before {
					box-shadow: -0.375em 0 #302c39, -0.75em 0 #302c39, -1.125em 0 #302c39, -1.5em 0 #302c39, -1.875em 0 #302c39, -2.25em 0 #302c39, -2.625em 0 #302c39, -3em 0 #302c39;
				}
			}

			&:nth-child(5) {
				bottom: 64px;
				left: 12px;
			}

			&:nth-child(6) {
				top: 164px;
				left: 30px;
			}

			&:nth-child(7) {
				top: 130px;
				left: 48px;
			}

			&:nth-child(8) {
				top: 110px;
				left: 66px;
			}

			&:nth-child(9) {
				top: 72px;
				left: 95px;
			}

			&:nth-child(10) {
				top: 54px;
				left: 12px;

				&:before {
					left: 2.45em;
				}
			}

			&:nth-child(11) {
				top: 55px;
				left: 100px;
			}
		}

		.bar-graph {
			margin: 20px 20px 70px 20px;
			padding: 0 10px 17px 10px;
			clear: both;

			.year-data {
				margin: 0 9px;
				font-size: 20px;

				&:before {
					margin: 12px 0 0 -6px;
					width: 12px;
					height: 12px;
				}
			}

			.bar-wrap {
				width: 44px;
				height: 208px;
				border-radius: 22px 22px 0 0;

				.percentage {
					border-radius: 22px 22px 0 0;
				}
			}

			.year {
				margin-top: 30px;
			}
		}

		.source {
			display: block;
			font-size: 18px;
			text-align: center;
		}
	}

	.after-cut {
		padding-top: 24px;

		.section-title {
			font-size: 30px;
			text-align: center;
		}

		.desc {
			font-size: 15px;
			text-align: center;
		}

		.situation-list .list {
			padding: 20px 20px 70px 20px;
			z-index: 1;
			
			&:nth-child(1) {
				padding-top: 70px;
				padding-bottom: 40px;

				.story {
					width: 300px;
				}

				.animation-wrap {
					width: 196px;
					height: 152px;
					bottom: 0;
					left: 50%;
	
					&:before {
						width: 12px;
						height: 6px;
						top: 0;
						left: 62px;
					}
	
					&:after {
						width: 72px;
						height: 12px;
						top: 51px;
						left: 84px;
					}
	
					.ground-2 {
						width: 560px;
						height: 300px;
						top: -15px;
						left: -240px;
					}
	
					.ball {
						width: 20px;
						height: 20px;
						top: -66px;
						left: 58px;
					}
	
					.play-ball {
						width: 70px;
						height: 81px;
						top: -25px;
						left: 84px;
					}
				}
			}

			&:nth-child(2) {
				padding-bottom: 20px;
				padding-left: 50vw;

				.animation-wrap {
					margin-right: 20px;
					width: 142px;
					height: 154px;
					bottom: -10px;
					right: 50%;

					.ground-3 {
						width: 300px;
						height: 170px;
						top: 30px;
						right: -13px;
					}

					.senior-official {
						width: 112px;
						height: 143px;
						top: -26px;
						left: 11px;
					}
				}
			}

			&:nth-child(3) {
				padding-bottom: 170px;

				.animation-wrap {
					width: 100%;
					height: 200px;
					right: 0;
					bottom: -72px;

					.svg-icon {
						&.ground {
							width: 100.72vw;
							height: 48.44vw;
							top: 0;
							left: 0;
						}

						&:not(.ground) {
							width: 19.16vw;
						}

						&.food-1 {
							height: 20.625vw;
							top: -4.58vw;
							left: 45.84vw;
							opacity: 0;
						}

						&.food-2 {
							height: 27.08vw;
							top: -15.72vw;
							left: 34.06vw;
							opacity: 0;
						}

						&.food-3 {
							height: 22.6vw;
							top: 10.42vw;
							left: 17.7vw;
							opacity: 0;
						}
					}

					.scale {
						top: 1.98vw;
						left: 67.4vw;

						.svg-icon {
							height: 16.78vw;
						}

						.platform {
							margin-left: -6.82vw;
							width: 13.64vw;
							height: 0.72vw;
							top: -2.8vw;

							&:after {
								margin-left: -0.47vw;
								width: 0.94vw;
								height: 4.16vw;
							}
						}

						.count {
							margin-bottom: 4.58vw;
							font-size: 14px;
				
							strong {
								font-size: 20px;
							}
						}

						.pointer {
							margin: -2.85vw 0 0 -1.25vw;
							width: 2.5vw;
							height: 2.5vw;

							&:before {
								margin-left: -0.33vw;
								width: 0.66vw;
								height: 7.08vw;
								bottom: -60%;
								border-radius: 0.33vw;
							}

							&:after {
								margin: -0.625vw 0 0 -0.625vw;
								width: 1.25vw;
								height: 1.25vw;
								top: 150%;
								border-radius: 50%;
							}
						}
					}
				}
			}
		}

		.story {
			margin: 0 auto;
			width: 280px;
			position: relative;
			z-index: 1;
			font-size: 14px;
		}

		.emphasize {
			font-size: 22px;
		}

		.animation-wrap.weighing-ani {
			.food-1 {
				@include animation(food-drop-m 0.3s ease-in-out forwards);
			}

			.food-2 {
				@include animation(food-drop-m 0.3s 0.2s ease-in-out forwards);
			}

			.food-3 {
				@include animation(food-drop-m 0.3s 0.4s ease-in-out forwards);
			}
		}
	}

	.donate-cut {
		padding: 24px 20px 80vw 20px;
		overflow: hidden;

		&:before {
			background-size: 100% auto;
			height: 77vw;
			bottom: 0;
		}

		.section-title {
			padding-bottom: 10px;
			font-size: 30px;
			line-height: 1.5em;
			text-align: center;
		}

		.desc {
			font-size: 15px;
		}

		.btn-rainbow {
			margin-right: auto;
			margin-left: auto;
			display: block;
	
			.text {
				padding: 0.24em 2em 0.24em 1.2em;
				border-radius: 0.8em;
				font-size: 20px;
				line-height: 2em;
			}
	
			.icon-arrow-right {
				margin: -6px 0 0 84px;
				left: 50%;
			}
		}
	}

	.encounter-linear {
		display: none;
	}
}

@include browsers('IE') {}

@include respond(Iphone5) {
	.l-loading.b-dt-hide img {
		width: 280px;
	}

	.after-cut {
		.desc {
			font-size: 13px;
		}

		.situation-list .list {
			&:nth-child(1) {
				.story {
					width: 280px;
				}

				.animation-wrap {
					&:before {
						width: 8px;
						height: 4px;
						top: 6px;
						left: auto;
						right: 117px;
					}

					&:after {
						width: 50px;
						height: 9px;
						top: 44px;
						left: auto;
						right: 59px;
					}

					.ball {
						width: 17px;
						height: 17px;
						top: -42px;
						left: auto;
						right: 112px;
					}

					.play-ball {
						width: 46px;
						height: 54px;
						top: -6px;
						left: auto;
						right: 60px;
					}
				}
			}

			&:nth-child(2) {
				padding-right: 0;
				padding-left: 120px;
	
				.animation-wrap .senior-official {
					width: 92px;
					height: 119px;
					top: 0;
					left: 18px;
				}
			}
		}
	}
}