.dog-list {
	font-size: 0;

	.list {
		position: relative;
		@include background-image(linear-gradient(to bottom right, #f0efeb 0%, #c1bab6 100%));

		.info {
			display: block;
		}

		.desc {
			position: absolute;
			color: #5a5a5a;
			line-height: 1.5em;
			text-align: left;

			.name {
				color: #000;
			}
		}
	}
}

.section-cut {
	position: relative;

	&.main-cut {
		border-top: 0;
	}

	.btn-slide-down {
		position: absolute;
		left: 50%;
	}
}

.video-cut {
	background: image-url('index/bg-video.jpg') 0 0 no-repeat;
	background-size: auto 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 47.19vw;
	position: relative;
	letter-spacing: 1px;
	text-align: center;

	&:before {
		content: '';
		background: #000;
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.5;
		z-index: 0;
	}

	> * {
		position: relative;
		z-index: 1;
	}

	.emphasize {
		color: #fff;

		.saying {
			display: block;
		}

		.celebrity {
			padding: 0 0.5em;
			display: inline-block;
			position: relative;
			font-size: 0.7143em;

			&:before, &:after {
				content: '';
				background: #fff;
				display: block;
				width: 1em;
				height: 1px;
				position: absolute;
				top: 50%;
			}

			&:before {
				left: 100%;
			}

			&:after {
				right: 100%;
			}
		}
	}

	.btn-play {
		color: #fff;
		font-weight: bold;
		letter-spacing: 1px;

		.svg-icon {
			display: block;
			fill: #fff;
		}

		.text {
			display: block;
		}
	}
}

.encounter-cut {
	background: #595463;
	@include box-sizing(border-box);

	.section-title, .desc {
		color: #fff;
		text-align: center;
	}

	.desc {
		display: block;
	}

	.encounter-linear {
		fill: #706c79;
		opacity: 0.37;
	}

	.encounter-list {
		.list:nth-child(4), .list:nth-child(5) {
			.what-happened {
				color: #fffec6;

				.strong {
					display: block;
				}
			}
		}

		.text {
			color: #fff;
		}
	}

	.what-happened {
		background: #302c39;
		display: inline-block;
		position: relative;
		color: #fff;
		@include box-sizing(border-box);

		&:before {
			content: '';
			display: block;
			width: 0;
			height: 0;
			position: absolute;
		}

		.strong, .bold {
			color: #fffec6;
			font-weight: bold;
		}
	}

	.kill-list .count {
		position: absolute;
		z-index: 2;
		color: #302c39;
		font-weight: bold;
		white-space: nowrap;

		&:before {
			content: '';
			background: #302c39;
			display: block;
			width: 0.25em;
			height: 0.25em;
			position: absolute;
		}

		&:nth-child(1):before {
			top: 1.25em;
			left: 0.25em;
			box-shadow: 0 0.375em #302c39, 0 0.75em #302c39, 0 1.125em #302c39, 0 1.5em #302c39, 0 1.875em #302c39;
		}

		&:nth-child(2):before {
			bottom: 0.25em;
			right: 105%;
			box-shadow: -0.375em 0 #302c39, -0.75em 0 #302c39, -1.125em 0 #302c39, -1.5em 0 #302c39, -1.875em 0 #302c39, -2.25em 0 #302c39, -2.625em 0 #302c39;
		}

		&:nth-child(3):before {
			bottom: 0.25em;
			right: 105%;
			box-shadow: -0.375em 0 #302c39, -0.75em 0 #302c39, -1.125em 0 #302c39, -1.5em 0 #302c39, -1.875em 0 #302c39, -2.25em 0 #302c39, -2.625em 0 #302c39, -3em 0 #302c39, -3.375em 0 #302c39, -3.75em 0 #302c39, -4.125em 0 #302c39, -4.5em 0 #302c39, -4.875em 0 #302c39;
		}

		&:nth-child(4):before {
			bottom: 0.25em;
			right: 105%;
			box-shadow: -0.375em 0 #302c39, -0.75em 0 #302c39, -1.125em 0 #302c39, -1.5em 0 #302c39, -1.875em 0 #302c39, -2.25em 0 #302c39, -2.625em 0 #302c39, -3em 0 #302c39, -3.375em 0 #302c39, -3.75em 0 #302c39, -4.125em 0 #302c39, -4.5em 0 #302c39, -4.875em 0 #302c39;
		}

		&:nth-child(5):before {
			bottom: 1.25em;
			left: 0.25em;
			box-shadow: 0 -0.375em #302c39, 0 -0.75em #302c39, 0 -1.125em #302c39, 0 -1.5em #302c39;
		}

		&:nth-child(6):before {
			bottom: 0.25em;
			left: 105%;
			box-shadow: 0.375em 0 #302c39, 0.75em 0 #302c39, 1.125em 0 #302c39, 1.5em 0 #302c39, 1.875em 0 #302c39, 2.25em 0 #302c39, 2.625em 0 #302c39;
		}

		&:nth-child(7):before {
			bottom: 0.25em;
			left: 105%;
			box-shadow: 0.375em 0 #302c39, 0.75em 0 #302c39, 1.125em 0 #302c39, 1.5em 0 #302c39;
		}

		&:nth-child(8):before {
			bottom: 0.25em;
			left: 105%;
			box-shadow: 0.375em 0 #302c39, 0.75em 0 #302c39, 1.125em 0 #302c39, 1.5em 0 #302c39;
		}

		&:nth-child(9):before {
			bottom: 0.25em;
			left: 105%;
			box-shadow: 0.375em 0 #302c39;
		}

		&:nth-child(10):before {
			top: 1.25em;
			left: 0.25em;
			box-shadow: 0 0.375em #302c39, 0 0.75em #302c39, 0 1.125em #302c39, 0 1.5em #302c39;
		}

		&:nth-child(11):before {
			bottom: 0.25em;
			left: 105%;
			box-shadow: 0.375em 0 #302c39, 0.75em 0 #302c39, 1.125em 0 #302c39, 1.5em 0 #302c39;
		}
	}

	.bar-graph {
		border-bottom: 2px dashed #9d9d9c;
		z-index: 1;
		font-size: 0;
		white-space: nowrap;

		.year-data {
			display: inline-block;
			position: relative;
			color: #fff;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 100%;
				left: 50%;
				border-radius: 50%;
			}

			&:nth-child(1) {
				.percentage {
					background: #d94a60;
					height: 62%;
				}

				&:before {
					background: #d94a60;
				}
			}

			&:nth-child(2) {
				.percentage {
					background: #5a476c;
					height: 48%;
				}

				&:before {
					background: #5a476c;
				}
			}

			&:nth-child(3) {
				.percentage {
					background: #44858e;
					height: 30%;
				}

				&:before {
					background: #44858e;
				}
			}

			&:nth-child(4) {
				.percentage {
					background: #93d3d9;
					height: 21%;
				}

				&:before {
					background: #93d3d9;
				}
			}
		}

		.bar-wrap {
			background: #dadada;
			position: relative;

			.percentage {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				overflow: hidden;
				line-height: 2.5em;
				text-align: center;
			}
		}

		.year {
			display: block;
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			line-height: 1em;
			white-space: nowrap;
		}
	}

	.source {
		color: #302c39;
		font-weight: bold;
	}
}

.after-cut {
	background: #f3e8e0;

	.section-title, .desc {
		color: #2f2d40;
	}

	.desc {
		display: block;
	}

	.situation-list {
		overflow: hidden;

		.list {
			position: relative;
	
			&:before {
				content: '';
				display: block;
				width: 0;
				height: 0;
				position: absolute;
				bottom: 100%;
				left: 0;
			}
	
			&:nth-child(2) {
				background: #ffe5d2;
	
				&:before {
					border-top: 3.125vw solid transparent;
					border-right: 50vw solid transparent;
					border-bottom: 3.125vw solid #ffe5d2;
					border-left: 50vw solid #ffe5d2;
				}
	
				.senior-official {
					@include transform(scale(-1, 1));
				}
			}
	
			&:nth-child(3) {
				background: #f9dac3;
	
				&:before {
					border-top: 2.5vw solid transparent;
					border-right: 50vw solid #f9dac3;
					border-bottom: 2.5vw solid #f9dac3;
					border-left: 50vw solid transparent;
				}
			}
	
			.svg-icon {
				position: absolute;
			}
		}
	}

	.story {
		color: #494848;
		letter-spacing: 1px;
		line-height: 1.5em;

		.emphasize {
			display: block;
			font-weight: bold;
			line-height: 1.5em;
		}
	}

	.animation-wrap {
		position: absolute;

		.scale {
			position: absolute;

			.svg-icon {
				position: relative;
			}

			.platform {
				background: #ad4837;
				position: absolute;
				left: 50%;

				&:after {
					content: '';
					background: #813628;
					display: block;
					position: absolute;
					top: 100%;
					left: 50%;
				}
			}

			.count {
				position: absolute;
				bottom: 100%;
				left: 0;
				right: 0;
				color: #ad4837;
				font-weight: bold;
				line-height: 1em;
				text-align: center;
				text-shadow: 1px 0px #ad4837;
			}

			.pointer {
				position: absolute;
				top: 50%;
				left: 50%;
				@include transform(rotate(290deg));

				&:before, &:after {
					content: '';
					background: #ad4837;
					display: block;
					position: absolute;
					left: 50%;
					z-index: 0;
				}

				.center {
					background: #524641;
					display: block;
					width: 100%;
					height: 100%;
					position: relative;
					border-radius: 50%;
					z-index: 1;
				}
			}
		}
	}
}

.donate-cut {
	background: #fff5ee;
	position: relative;

	&:before {
		content: '';
		background: image-url('index/bg-donate.png') right 0 no-repeat;
		display: block;
		width: 100%;
		position: absolute;
		left: 0;
		z-index: 0;
	}

	> * {
		position: relative;
		z-index: 1;
	}

	.section-title, .desc {
		color: #220e00;
	}

	.desc {
		font-weight: bold;
		letter-spacing: 1px;
	}

	.btn-rainbow {
		margin-top: 2.19vw;

		.text {
			display: block;
			letter-spacing: 1px;
		}

		.icon-arrow-right {
			position: absolute;
			top: 50%;
		}
	}
}

@include respond(Desktops) {}

@include respond(Desktops-Tablets) {
	.l-content {
		padding-top: 5.94vw;
	}

	.main-cut {
		height: calc(100vh - 5.94vw);
	}

	.dog-list {
		height: 100%;
		overflow: hidden;

		.list {
			display: inline-block;
			width: 25%;
			height: 33.33%;
			overflow: hidden;

			&:nth-child(1) .desc {
				top: 14%;
				left: 62.5%;
			}

			&:nth-child(2) .desc {
				top: 48%;
				left: 7.5%;
			}

			&:nth-child(3) .desc {
				top: 64%;
				left: 65%;
			}

			&:nth-child(4) .desc {
				top: 12%;
				left: 70%;
			}

			&:nth-child(5) .desc {
				top: 9%;
				left: 62.5%;
			}

			&:nth-child(6) .desc {
				top: 33%;
				left: 8.75%;
			}

			&:nth-child(7) .desc {
				top: 33%;
				left: 7.5%;
			}

			&:nth-child(8) .desc {
				top: 10%;
				left: 10%;
			}

			&:nth-child(9) .desc {
				top: 16%;
				left: 62.5%;
			}

			&:nth-child(10) .desc {
				top: 31%;
				left: 12%;
			}

			&:nth-child(11) .desc {
				top: 16%;
				left: 71%;
			}

			&:nth-child(12) .desc {
				top: 16%;
				left: 64%;
			}

			.img-wrap {
				margin: -5% 0 0 -50%;
				width: 200%;
				height: 120%;
				text-align: center;
			}

			img {
				height: 100%;
			}

			.desc {
				font-size: 0.94vw;

				.name {
					margin-right: 5px;
					font-size: 1.25vw;
				}
			}
		}
	}

	.section-cut {
		border-top: 4px solid #fff;

		.btn-slide-down {
			bottom: 1.56vw;
		}
	}

	.video-cut {
		.emphasize {
			font-size: 1.46vw;
			line-height: 2em;
		}

		.btn-play {
			margin-top: 1.04vw;
			color: #fff;

			.svg-icon {
				width: 7.97vw;
				height: 7.92vw;
			}

			.text {
				margin-top: 1.25em;
				font-size: 1.04vw;
			}
		}
	}

	.encounter-cut {
		padding: 3.4375vw 0;
		height: 115.42vw;
		position: relative;

		.section-title {
			font-size: 4.2vw;
		}

		.encounter-linear {
			margin-left: -39.425vw;
			width: 78.85vw;
			height: 83.33vw;
			position: absolute;
			top: 40.21vw;
			left: 50%;
			z-index: 0;
		}

		.desc {
			font-size: 2.08vw;
		}

		.encounter-list .list {
			&:nth-child(1) {
				.what-happened {
					margin-bottom: 1.67vw;
					top: 22.14vw;
					left: 27.29vw;
	
					&:before {
						top: 100%;
						left: 13.86%;
						border-top: 1.67vw solid #302c39;
						border-right: 0.83vw solid transparent;
						border-left: 0.83vw solid transparent;
					}
				}

				.abandon {
					width: 23.54vw;
					height: 19.53vw;
					top: 27.24vw;
					left: 10.94vw;
				}

				.tear-drop {
					width: 0.365vw;
					height: 1.41vw;
					top: 41.77vw;
					left: 25.78vw;
				}
			}

			&:nth-child(2) {
				.what-happened {
					margin-bottom: 1.46vw;
					top: 20.05vw;
					left: 62.92vw;
					z-index: 2;
	
					&:before {
						top: 100%;
						left: 12.86%;
						border-top: 1.46vw solid #302c39;
						border-right: 0.73vw solid transparent;
						border-left: 0.73vw solid transparent;
					}
				}

				.shelter {
					width: 12.08vw;
					height: 14.11vw;
					top: 29.53vw;
					left: 52.71vw;
				}

				.web {
					width: 7.92vw;
					height: 8.65vw;
					top: 30.625vw;
					left: 68.54vw;
				}
			}

			&:nth-child(3) {
				.what-happened {
					margin-bottom: 2.4vw;
					top: 52.53vw;
					left: 72.5vw;
	
					&:before {
						top: 100%;
						left: 19.23%;
						border-top: 2.4vw solid #302c39;
						border-right: 1.2vw solid transparent;
						border-left: 1.2vw solid transparent;
					}
				}

				.euthanasia {
					width: 21.35vw;
					height: 10.42vw;
					top: 69.375vw;
					left: 57.08vw;
				}

				.soul {
					width: 6.25vw;
					height: 7.4vw;
					top: 60vw;
					left: 64.58vw;
				}
			}

			&:nth-child(4) {
				.what-happened {
					margin-bottom: 1.36vw;
					padding: 1.04vw;
					top: 51.875vw;
					left: 13.96vw;
	
					&:before {
						top: 100%;
						right: 12.87%;
						border-top: 1.36vw solid #302c39;
						border-right: 0.68vw solid transparent;
						border-left: 0.68vw solid transparent;
					}
				}
			}

			&:nth-child(5) {
				padding-top: 6.46vw;
				position: absolute;
				top: 88.07vw;
				left: 29.74vw;

				.text {
					display: inline-block;
					width: 22.71vw;
					font-size: 1.46vw;
					line-height: 1.5em;
				}

				.what-happened {
					margin: 1.25vw 1.67vw 0 0;
					padding: 1.04vw 2.29vw;
					display: block;
					white-space: nowrap;

					&:before {
						margin-top: -0.83vw;
						top: 50%;
						left: 100%;
						border-top: 0.83vw solid transparent;
						border-bottom: 0.83vw solid transparent;
						border-left: 1.67vw solid #302c39;
					}
				}
			}

			&:nth-child(2), &:nth-child(3) {
				.what-happened .strong {
					margin-right: 10px;
				}
			}

			&:nth-child(4), &:nth-child(5) {
				.what-happened, .strong {
					font-size: 1.875vw;
					line-height: 1.5em;
				}
			}
		}

		.what-happened {
			padding: 1.04vw 1.875vw;
			position: absolute;
			border-radius: 1.875vw;
			z-index: 1;
			font-size: 1.46vw;
			line-height: 2em;

			.strong {
				font-size: 3.65vw;
			}

			.bold {
				font-size: 2.6vw;
			}
		}

		.svg-icon {
			position: absolute;
			z-index: 1;
		}

		.map {
			width: 30.365vw;
			height: 30.57vw;
			position: absolute;
			top: 61.73vw;
			left: 12.76vw;

			.svg-icon {
				width: 100%;
				height: 100%;
			}
		}

		.kill-list .count {
			font-size: 1.25vw;
			line-height: 1em;

			&:nth-child(1) {
				top: -2.4vw;
				left: 27.24vw;
			}

			&:nth-child(2) {
				top: 5.31vw;
				left: 31.72vw;
			}

			&:nth-child(3) {
				top: 13.85vw;
				left: 29.64vw;
			}

			&:nth-child(4) {
				top: 23.75vw;
				left: 26.3vw;
			}

			&:nth-child(5) {
				top: 25.42vw;
				left: 1.54vw;
			}

			&:nth-child(6) {
				top: 17.27vw;
				left: 6.41vw;
			}

			&:nth-child(7) {
				top: 11.98vw;
				left: 8.24vw;
			}

			&:nth-child(8) {
				top: 9.27vw;
				left: 9.95vw;
			}

			&:nth-child(9) {
				top: 4.77vw;
				left: 13.28vw;
			}

			&:nth-child(10) {
				top: 2.81vw;
				left: 4.43vw;
			}

			&:nth-child(11) {
				top: 2.27vw;
				left: 14.24vw;
			}
		}

		.bar-graph {
			margin-left: 2vw;
			padding: 0 0.625vw 1.51vw 0.625vw;
			position: absolute;
			top: 0;
			left: 100%;

			.year-data {
				margin: 0 0.73vw;
				font-size: 1.67vw;

				&:before {
					margin: 1vw 0 0 -0.52vw;
					width: 1.04vw;
					height: 1.04vw;
				}
			}

			.bar-wrap {
				width: 3.65vw;
				height: 17.3vw;
				border-radius: 1.825vw 1.825vw 0 0;

				.percentage {
					border-radius: 1.825vw 1.825vw 0 0;
				}
			}

			.year {
				margin-top: 3.33vw;
			}
		}

		.source {
			position: absolute;
			bottom: 5.52vw;
			left: 80.83vw;
			font-size: 1.46vw;
		}
	}

	.after-cut {
		padding-top: 3vw;
		position: relative;

		&:before {
			content: '';
			background: #fff;
			display: block;
			width: 100%;
			height: 4px;
			position: absolute;
			top: -4px;
			left: 0;
			z-index: 1;
		}

		.section-title {
			font-size: 4.2vw;
			text-align: center;
		}

		.desc {
			margin-top: 1.875vw;
			font-size: 2.08vw;
			text-align: center;
		}

		.situation-list {
			margin-top: 2.5vw;

			.list:nth-child(1) {
				height: 33.75vw;

				.story {
					top: 7.08vw;
					left: 13.33vw;
					z-index: 1;
				}

				.encounter-linear {
					top: 0;
					right: 3.125vw;
					@include transform(scale(-1, -1));
				}

				.play-ball {
					width: 48.7vw;
					height: 37.86vw;
					top: 2.14vw;
					left: 7.14vw;
				}
			}

			.list:nth-child(2) {
				height: 16.04vw;

				.story {
					margin: 0 0 6.67vw 9.79vw;
					bottom: 100%;
					left: 50%;
				}

				.encounter-linear {
					margin-left: -39.425vw;
					top: 2.04vw;
					left: 50%;
					@include transform(scale(-1, 1));
				}

				.senior-official {
					margin-left: 5.16vw;
					width: 38.33vw;
					height: 41.41vw;
					bottom: -3.4375vw;
					left: 50%;
				}
			}

			.list:nth-child(3) {
				height: 20.42vw;

				.story {
					margin-bottom: -4.48vw;
					bottom: 100%;
					left: 20.83vw;
				}
			}
		}

		.story {
			position: absolute;
			font-size: 1.46vw;

			.emphasize {
				font-size: 2.6vw;
			}
		}

		.encounter-linear {
			width: 78.85vw;
			height: 83.33vw;
			position: absolute;
			fill: #e1c1a9;
			opacity: 0.26;
		}

		.animation-wrap {
			top: 6.04vw;
			left: 26.25vw;

			.svg-icon {
				&.ground {
					width: 50.36vw;
					height: 24.22vw;
					top: 0;
					left: 0;
				}

				&:not(.ground) {
					width: 9.58vw;
				}

				&.food-1 {
					height: 10.3125vw;
					top: -2.29vw;
					left: 22.92vw;
				}

				&.food-2 {
					height: 13.54vw;
					top: -7.86vw;
					left: 17.03vw;
				}

				&.food-3 {
					height: 11.3vw;
					top: 5.21vw;
					left: 8.85vw;
				}
			}

			.scale {
				top: 0.99vw;
				left: 33.7vw;

				.svg-icon {
					height: 8.39vw;
				}

				.platform {
					margin-left: -3.41vw;
					width: 6.82vw;
					height: 0.36vw;
					top: -1.4vw;

					&:after {
						margin-left: -0.235vw;
						width: 0.47vw;
						height: 2.08vw;
					}
				}

				.count {
					margin-bottom: 2.29vw;
					font-size: 1.46vw;
		
					strong {
						font-size: 2.6vw;
					}
				}

				.pointer {
					margin: -1.425vw 0 0 -0.625vw;
					width: 1.25vw;
					height: 1.25vw;

					&:before {
						margin-left: -0.165vw;
						width: 0.33vw;
						height: 3.54vw;
						bottom: -60%;
						border-radius: 0.165vw;
					}

					&:after {
						margin: -0.3125vw 0 0 -0.3125vw;
						width: 0.625vw;
						height: 0.625vw;
						top: 150%;
						border-radius: 50%;
					}
				}
			}
		}
	}

	.donate-cut {
		padding: 4.2vw 0 4.2vw 12.24vw;

		&:before {
			background-size: auto 100%;
			height: 100%;
			top: 0;
		}

		.section-title {
			font-size: 3.125vw;
		}

		.desc {
			width: 21em;
			font-size: 1.46vw;
			line-height: 2em;
			text-align: left;
		}

		.btn-rainbow {
			.text {
				padding: 0.24em 2em 0.24em 1.2em;
				border-radius: 0.8em;
				font-size: 2.6vw;
				line-height: 1.5em;
			}

			.icon-arrow-right {
				margin-top: -0.625vw;
				right: 3.33vw;
			}
		}
	}
}

@include respond(Tablets) {
	.dog-list .list {
		width: 33.33%;
		height: 25%;
	}
}

@include respond(Tablets-Mobiles) {}

@include respond(Mobiles) {
	.l-content {
		padding-top: 50px;
	}

	.dog-list {
		width: 100vw;
		overflow: hidden;

		.owl-item {
			display: inline-block;

			&:nth-child(1) .desc {
				top: 14%;
				left: 62.5%;
			}

			&:nth-child(2) {
				img {
					margin-left: 30px;
				}

				.desc {
					top: 48%;
					left: 7.5%;
				}
			}

			&:nth-child(3) .desc {
				top: 64%;
				left: 65%;
			}

			&:nth-child(4) .desc {
				top: 12%;
				left: 70%;
			}

			&:nth-child(5) .desc {
				top: 9%;
				left: 56.5%;
			}

			&:nth-child(6) .desc {
				top: 14%;
				left: 8.75%;
			}

			&:nth-child(7) .desc {
				top: 17%;
				left: 7.5%;
			}

			&:nth-child(8) .desc {
				top: 10%;
				left: 10%;
			}

			&:nth-child(9) .desc {
				top: 16%;
				left: 54.5%;
			}

			&:nth-child(10) {
				img {
					margin-left: 10px;
				}

				.desc {
					top: 31%;
					left: 12%;
				}
			}

			&:nth-child(11) .desc {
				top: 16%;
				left: 65%;
			}

			&:nth-child(12) {
				img {
					margin-left: -30px;
				}

				.desc {
					top: 16%;
					right: 4%;
				}
			}
		}

		.list {
			display: table;
		}

		.img-wrap {
			display: table-cell;
			height: 81.875vw;
			vertical-align: bottom;
		}

		.list, .img-wrap {
			width: 100%;
			overflow: hidden;
		}

		img {
			width: 100%;
		}

		.desc {
			font-size: 18px;

			.name {
				font-size: 24px;
			}
		}
	}

	.section-cut {
		border-top: 2px solid #fff;

		.btn-slide-down {
			bottom: 10px;
		}
	}

	.video-cut {
		.emphasize .saying {
			font-size: 4vw;
		}

		.btn-play {
			margin-top: 10px;

			.svg-icon {
				width: 44px;
				height: 44px;
			}

			.text {
				margin-top: 10px;
			}
		}
	}

	.encounter-cut {
		padding: 24px 0;
		position: relative;
		overflow: hidden;

		&:before {
			content: '';
			background: #615d6b;
			display: block;
			width: 30px;
			height: 90%;
			position: absolute;
			top: 10%;
			left: 24%;
			border-radius: 15px 15px 0 0;
			z-index: 0;
		}

		> * {
			position: relative;
			z-index: 1;
		}

		.section-title {
			font-size: 30px;
		}

		.desc {
			font-size: 15px;
		}

		.encounter-list .list {
			margin: 0 auto;
			width: 320px;
			position: relative;
			overflow: hidden;

			&:nth-child(1) {
				.abandon {
					margin: -50px 0 0 20px;
					width: 180px;
				}

				.tear-drop {
					width: 3px;
					height: 11px;
					position: absolute;
					bottom: 34px;
					left: 133px;
				}
			}

			&:nth-child(2) {
				.what-happened {
					position: relative;
					z-index: 1;
				}

				.shelter {
					margin: -24px 0 0 40px;
					width: 117px;
					height: 136px;
				}

				.web {
					width: 77px;
					height: 84px;
					position: absolute;
					bottom: 46px;
					right: 50px;
				}
			}

			&:nth-child(3) {
				.euthanasia {
					margin: 20px 0 0 20px;
					width: 163px;
					height: 80px;
				}

				.soul {
					width: 47px;
					height: 56px;
					position: absolute;
					top: 114px;
					left: 76px;
				}
			}

			&:nth-child(4) {
				text-align: center;

				.svg-icon {
					width: 246px;
				}

				.what-happened {
					margin-right: 0;
					float: none;
					text-align: left;

					&:before {
						margin-left: -6px;
						left: 50%;
					}
				}
			}

			&:nth-child(5) {
				text-align: center;

				.text {
					font-size: 16px;
					text-align: left;
				}

				.what-happened {
					margin-right: 0;
					float: none;

					&:before {
						margin-left: -6px;
						left: 50%;
					}
				}
			}

			&:nth-child(1), &:nth-child(2), &:nth-child(3) {
				.strong {
					padding-right: 5px;
				}
			}
		}

		.what-happened {
			margin: 20px 6.25% 0 0;
			padding: 15px 20px;
			border-radius: 20px;
			float: right;
			font-size: 15px;
			letter-spacing: 1px;

			&:before {
				top: 100%;
				left: 13.86%;
				border-top: 12px solid #302c39;
				border-right: 6px solid transparent;
				border-left: 6px solid transparent;
			}

			.strong {
				font-size: 22px;
			}

			.bold {
				font-size: 18px;
			}
		}

		.map {
			margin: 0 auto;
			padding-right: 20px;
			width: 246px;
			height: 322px;
			position: relative;
			clear: both;

			.svg-icon {
				width: 100%;
				height: 100%;
			}
		}

		.kill-list .count {
			font-size: 12px;
			line-height: 1em;

			&:nth-child(1) {
				top: 10px;
				right: 10px;

				&:before {
					left: 2.25em;
				}
			}

			&:nth-child(2) {
				width: 20px;
				top: 72px;
				right: -6px;
				text-align: center;
				white-space: normal;

				&:before {
					top: 1em;
				}
			}

			&:nth-child(3) {
				top: 150px;
				right: -6px;

				&:before {
					box-shadow: -0.375em 0 #302c39, -0.75em 0 #302c39, -1.125em 0 #302c39;
				}
			}

			&:nth-child(4) {
				bottom: 84px;
				right: -6px;

				&:before {
					box-shadow: -0.375em 0 #302c39, -0.75em 0 #302c39, -1.125em 0 #302c39, -1.5em 0 #302c39, -1.875em 0 #302c39, -2.25em 0 #302c39, -2.625em 0 #302c39, -3em 0 #302c39;
				}
			}

			&:nth-child(5) {
				bottom: 64px;
				left: 12px;
			}

			&:nth-child(6) {
				top: 164px;
				left: 30px;
			}

			&:nth-child(7) {
				top: 130px;
				left: 48px;
			}

			&:nth-child(8) {
				top: 110px;
				left: 66px;
			}

			&:nth-child(9) {
				top: 72px;
				left: 95px;
			}

			&:nth-child(10) {
				top: 54px;
				left: 12px;

				&:before {
					left: 2.45em;
				}
			}

			&:nth-child(11) {
				top: 55px;
				left: 100px;
			}
		}

		.bar-graph {
			margin: 20px 20px 70px 20px;
			padding: 0 10px 17px 10px;
			clear: both;

			.year-data {
				margin: 0 9px;
				font-size: 20px;

				&:before {
					margin: 12px 0 0 -6px;
					width: 12px;
					height: 12px;
				}
			}

			.bar-wrap {
				width: 44px;
				height: 208px;
				border-radius: 22px 22px 0 0;

				.percentage {
					border-radius: 22px 22px 0 0;
				}
			}

			.year {
				margin-top: 30px;
			}
		}

		.source {
			display: block;
			font-size: 18px;
			text-align: center;
		}
	}

	.after-cut {
		padding-top: 24px;
		position: relative;

		&:before {
			content: '';
			background: #c3baba;
			display: block;
			width: 30px;
			height: 27px;
			position: absolute;
			top: 0;
			left: 24%;
			border-radius: 0 0 15px 15px;
			z-index: 0;
		}

		.section-title {
			font-size: 30px;
			text-align: center;
		}

		.desc {
			font-size: 15px;
			text-align: center;
		}

		.situation-list .list {
			padding: 20px 20px 30px 20px;
			z-index: 1;
			
			&:nth-child(1) .play-ball {
				width: 196px;
				bottom: 0;
				left: 50%;
			}

			&:nth-child(2) {
				padding-bottom: 20px;
				padding-left: 50vw;

				.senior-official {
					margin-right: 20px;
					width: 142px;
					bottom: -10px;
					right: 50%;
				}
			}

			&:nth-child(3) {
				padding-bottom: 170px;
			}
		}

		.story {
			margin: 0 auto;
			width: 280px;
			position: relative;
			z-index: 1;
			font-size: 14px;
		}

		.emphasize {
			font-size: 22px;
		}

		.animation-wrap {
			width: 100%;
			height: 200px;
			right: 0;
			bottom: -72px;

			.svg-icon {
				&.ground {
					width: 100.72vw;
					height: 48.44vw;
					top: 0;
					left: 0;
				}

				&:not(.ground) {
					width: 19.16vw;
				}

				&.food-1 {
					height: 20.625vw;
					top: -4.58vw;
					left: 45.84vw;
				}

				&.food-2 {
					height: 27.08vw;
					top: -15.72vw;
					left: 34.06vw;
				}

				&.food-3 {
					height: 22.6vw;
					top: 10.42vw;
					left: 17.7vw;
				}
			}

			.scale {
				top: 1.98vw;
				left: 67.4vw;

				.svg-icon {
					height: 16.78vw;
				}

				.platform {
					margin-left: -6.82vw;
					width: 13.64vw;
					height: 0.72vw;
					top: -2.8vw;

					&:after {
						margin-left: -0.47vw;
						width: 0.94vw;
						height: 4.16vw;
					}
				}

				.count {
					margin-bottom: 4.58vw;
					font-size: 14px;
		
					strong {
						font-size: 20px;
					}
				}

				.pointer {
					margin: -2.85vw 0 0 -1.25vw;
					width: 2.5vw;
					height: 2.5vw;

					&:before {
						margin-left: -0.33vw;
						width: 0.66vw;
						height: 7.08vw;
						bottom: -60%;
						border-radius: 0.33vw;
					}

					&:after {
						margin: -0.625vw 0 0 -0.625vw;
						width: 1.25vw;
						height: 1.25vw;
						top: 150%;
						border-radius: 50%;
					}
				}
			}
		}
	}

	.donate-cut {
		padding: 24px 20px 80vw 20px;
		overflow: hidden;

		&:before {
			background-size: 100% auto;
			height: 77vw;
			bottom: 0;
		}

		.section-title {
			padding-bottom: 10px;
			font-size: 30px;
			line-height: 1.5em;
			text-align: center;
		}

		.desc {
			font-size: 15px;
		}

		.btn-rainbow {
			margin-right: auto;
			margin-left: auto;
			display: block;
	
			.text {
				padding: 0.24em 2em 0.24em 1.2em;
				border-radius: 0.8em;
				font-size: 20px;
				line-height: 2em;
			}
	
			.icon-arrow-right {
				margin: -6px 0 0 84px;
				left: 50%;
			}
		}
	}

	.encounter-linear {
		display: none;
	}
}

@include browsers('IE') {}

@include respond(Iphone5) {
	.after-cut {
		.desc {
			font-size: 13px;
		}

		.situation-list .list {
			&:nth-child(1) .play-ball {
				margin-left: -30px;
			}

			&:nth-child(2) {
				padding-right: 0;
				padding-left: 120px;
	
				.senior-official {
					margin-right: 50px;
				}
			}
		}
	}
}