/* cloak */
.b-cloak {
	display : none !important;
}

/* vertical-align middle */
.b-middle {
	font-size  : 0;
	max-height : 100%;

	&:before {
		content : '';
		height  : 100%;
		@include inline-block;
	}

	> * {
		font-size : initial;
		zoom      : 1;
		@include inline-block;
	}
}

/* clearfix */
.b-clearfix {
	&:after {
		content : '';
		width   : 100%;
		height  : 0;
		clear   : both;
		@include clearfix;
		@include display(block);
	}
}

.b-hide-text {
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
}

.b-align-right {
	text-align: right !important;
}

.b-block {
	display: block;
}

@include respond(Desktops) {}

@include respond(Desktops-Tablets) {
	.b-dt-block {
		display: block;
	}

	.b-dt-hide {
		display: none;
	}
}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {}

@include respond(Mobiles) {
	.b-m-block {
		display: block;
	}

	.b-m-hide {
		display: none;
	}
}