html , body  {
	font       : 12px/1.6 $font-family;
	width      : 100%;
	min-height : 100%;
	@include text-size-adjust;
}

body {
}

button {
	@include button-default;
}

input {
	font-family: $font-family;
	@include appearance(none);
}

a {
	@include button-default;
	text-decoration : none;
	outline         : 0;

	&[href^="tel"] , &[href^="TEL"] {
		cursor : text;
	}

	&:hoevr {
		text-decoration : none;
	}
}

@include respond(Desktops) {
}

@include respond(Tablets) {
	html , body  {
		min-height : 100%;
	}

	html {
		overflow-x: hidden;
	}
}

@include respond(Mobiles) {
	body {
		min-height: 100vh;
		position: relative;
	}

	html {
		overflow-x: hidden;
	}
}

@include browsers('IE9') {
}

@include browsers('IE8') {
}