body {}

.l-header {
	background: rgba(255, 255, 255, 0.6);
	width: 100%;
	position: absolute;
	z-index: 2;
}

.l-content {}

.l-footer {
	background: #3e454f;
	color: #fff;
	text-align: center;
}

@include respond(Desktops) {}

@include respond(Desktops-Tablets) {
	.l-header {
		height: 5.94vw;
		line-height: 5.94vw;
	}

	.l-footer {
		font-size: 14px;
		line-height: 5.625vw;
	}
}

@include respond(Tablets) {}

@include respond(Tablets-Mobiles) {}

@include respond(Mobiles) {
	.l-header {
		height: 50px;
	}

	.l-footer {
		padding: 15px 0;
	}
}

@include browsers('IE9') {}