<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="Richart限時跑！完成指定任務就可以領取「NT$300用戶禮」，還有機會抽「夏威夷雙人來回機票」、「MacBook Air」等GoGoGo好禮呦！" />
	<meta name="description" property="og:description" content="Richart限時跑！完成指定任務就可以領取「NT$300用戶禮」，還有機會抽「夏威夷雙人來回機票」、「MacBook Air」等GoGoGo好禮呦！" />
	<meta name="title" content="Richart限時跑！完成指定任務就可以領取「NT$300用戶禮」，還有機會抽「夏威夷雙人來回機票」、「MacBook Air」等GoGoGo好禮呦！" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta property="og:title" content="Richart限時跑！完成指定任務就可以領取「NT$300用戶禮」，還有機會抽「夏威夷雙人來回機票」、「MacBook Air」等GoGoGo好禮呦！" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://richart-gogogo.sugarfun.com.tw/" />
	<meta property="og:image" content="/Content/img/Shared/FB.png" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:site_name" content="" />
	<link rel="shortcut icon" type="image/x-icon" href="/Content/img/shared/favicon.ico">
	<title>Richart gogogo 限時跑拿大獎</title>
	<link rel="canonical" href="" />
	<link rel="stylesheet" href="/Content/css/style.css?JS=20160420_01">
	@RenderSection("header",false)
	<!--[if lt IE 9]>
	<script type="text/javascript" src="/Scripts/plugin/html5/html5.js??JS=20160216_01"></script>
	<![endif]-->
	<!-- Facebook Pixel Code -->
	<script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','//connect.facebook.net/en_US/fbevents.js'); fbq('init', '993310334093143'); fbq('track', "PageView");</script>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=993310334093143&ev=PageView&noscript=1" /></noscript>
	<!-- End Facebook Pixel Code -->
</head>
<body>
<<<<<<< HEAD
	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-W9P9M5" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-W9P9M5');</script>
	<!-- End Google Tag Manager -->
	<!-- Lightning Bolt Begins -->
	<script type="text/javascript">var lbTrans = '[TRANSACTION ID]';var lbValue = '[TRANSACTION VALUE]';var lbData = '[Attribute/Value Pairs for Custom Data]';var lb_rn = new String(Math.random()); var lb_rns = lb_rn.substring(2, 12);var boltProtocol = ('https:' == document.location.protocol) ? 'https://' : 'http://';try {var newScript = document.createElement('script');var scriptElement = document.getElementsByTagName('script')[0];newScript.type = 'text/javascript';newScript.id = 'lightning_bolt_' + lb_rns;newScript.src = boltProtocol + 'cdn-akamai.mookie1.com/LB/LightningBolt.js';scriptElement.parentNode.insertBefore(newScript, scriptElement);scriptElement = null; newScript = null;} catch (e) {}</script>
	<!-- Lightning Bolt Ends -->
=======
	<!-- Lightning Bolt Begins -->
    <script type="text/javascript">
        var lbTrans = '[TRANSACTION ID]';
        var lbValue = '[TRANSACTION VALUE]';
        var lbData = '[Attribute/Value Pairs for Custom Data]';
        var lb_rn = new String(Math.random()); var lb_rns = lb_rn.substring(2, 12);
        var boltProtocol = ('https:' == document.location.protocol) ? 'https://' : 'http://';
        try {
            var newScript = document.createElement('script');
            var scriptElement = document.getElementsByTagName('script')[0];
            newScript.type = 'text/javascript';
            newScript.id = 'lightning_bolt_' + lb_rns;
            newScript.src = boltProtocol + 'cdn-akamai.mookie1.com/LB/LightningBolt.js';
            scriptElement.parentNode.insertBefore(newScript, scriptElement);
            scriptElement = null; newScript = null;
        } catch (e) { }
    </script>
    <!-- Lightning Bolt Ends -->
>>>>>>> origin/master
	<header class="l-header">
		<a href="http://richart.tw/" class="link richart ga_click_trace" ga_cat="header" ga_event="click" ga_label="logo">
			<h1 class="logo"><em>Richart</em></h1>
		</a>
		<nav class="m-nav">
			<button class="btn-menu jq-menu ga_click_trace" ga_cat="header" ga_event="click" ga_label="nav"><i class="m-icon icon-menu"></i><h3>MENU</h3></button>
			<ul class="m-nav-menu">
				<li class="list"><a href="/" class="link ga_click_trace" ga_cat="nav" ga_event="click" ga_label="home">首頁</a></li>
				<li class="list"><a href="game" class="link ga_click_trace" ga_cat="nav" ga_event="click" ga_label="game">開始遊戲</a></li>
				<li class="list"><a href="action" class="link ga_click_trace" ga_cat="nav" ga_event="click" ga_label="activity">活動辦法</a></li>
			</ul>
		</nav>
	</header>
	@RenderBody()
	<div class="l-not-support b-middle">
		<p class="desc">提醒您，本活動不支援您目前正在使用的 IE 8瀏覽器，建議您升級瀏覽器，以利可以順利進行活動，謝謝您的配合。<br><a href="http://windows.microsoft.com/zh-tw/internet-explorer/download-ie" target="_blank" class="btn-link">下載 Internet Explorer 11</a></p>
	</div>
	<footer class="l-footer">
		<p class="copyright">©台新國際商業銀行 Copyright Taishin International Bank. <span class="sm-block">All Rights Reserved.</span></p>
	</footer>
	<script type="text/javascript">var google_conversion_id = 921443134;var google_conversion_label = "8JE2CI2L6GQQvrawtwM";var google_custom_params = window.google_tag_params;var google_remarketing_only = true;</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
	<noscript><div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/921443134/?value=1.00&amp;currency_code=TWD&amp;label=8JE2CI2L6GQQvrawtwM&amp;guid=ON&amp;script=0"/></div></noscript>
	<script type="text/javascript">var google_conversion_id = 924950627;var google_conversion_label = "TylnCMGN5mQQ48CGuQM";var google_custom_params = window.google_tag_params;var google_remarketing_only = true;</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
	<noscript><div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/924950627/?value=1.00&amp;currency_code=TWD&amp;label=TylnCMGN5mQQ48CGuQM&amp;guid=ON&amp;script=0"/></div></noscript>
</body>
<script type="text/javascript" src="/Scripts/plugin/jquery/jquery.min.js?JS=20160216_01"></script>
<script type="text/javascript" src="/Scripts/js/ga-min.js?JS=20160216_01" id="GAScript" data-id="UA-72250086-12"></script>
<script type="text/javascript" src="/Scripts/js/factory-min.js?JS=20160216_01"></script>
<script type="text/javascript" src="/Scripts/js/common-min.js?JS=20160216_01"></script>
@RenderSection("scripts",false)
</html>