@{
	Layout="~/Views/Shared/_Layout.cshtml";
}
@section header{ 
	<link rel="stylesheet" href="/Content/css/action.css?JS=20160420_01">
}
	<div class="l-content action">
		<div class="main-content">
			<div class="main-content-hd">
				<h2 class="main-title"><em>Richart GoGoGo跑跑開團慶</em></h2>
			</div>
			<div class="main-content-bd">
				<div class="screen">
					<h3 class="msg-title">活動辦法</h3>
				</div>
			</div>
			<div class="main-content-ft">
				<div class="func-content">
					<h4 class="info-title"><em>活動對象</em></h4>
					<p class="desc">從未開立台新銀行Richart數位銀行活期儲蓄存款帳戶(以下簡稱Richart數位活儲帳戶)且年滿二十歲之本國自然人者皆可參與。</p>
					<h4 class="info-title"><em>活動獎項</em></h4>
					<p class="desc">Richart 用戶禮</p>
					<ul class="award-list">
						<li class="list b-middle gift"><em>NT$300用戶禮</em></li>
					</ul>
					<p class="desc">Richart Go Go Go好禮</p>
					<ul class="award-list">
						<li class="list b-middle ticket"><em>頭獎<br>夏威夷雙人來回機票 <span class="unit">一組</span></em></li>
						<li class="list b-middle mac-air"><em>二獎<br>MacBook Air13吋 <span class="unit">(1.6GHz, 128GB) 一台</span></em></li>
						<li class="list b-middle iphone"><em>三獎<br>iPhone 6s Plus <span class="unit">(16G) 二台</span></em></li>
						<li class="list b-middle inmotion"><em>四獎<br>Inmotion H1 體感滑板 <span class="unit">三台</span></em></li>
						<li class="list b-middle certificate"><em>五獎<br>新光三越禮券 NT$1,000 <span class="unit">二十五份</span></em></li>
					</ul>
					<h4 class="info-title"><em>活動內容</em></h4>
					<p class="desc">活動期間：2016年05月13日～2016年06月13日</p>
					<p class="desc">客戶於活動期間透過本活動網頁完成【Richart Go Go Go ！】活動，留下身分證字號、e-mail或行動電話號碼並完成下述活動步驟，即可領取NT$300用戶禮及Richart Go Go Go好禮抽獎資格。</p>
					<h4 class="info-title"><em>活動步驟</em></h4>
					<ul class="step-list">
						<li class="list">步驟A：暖身一下，準備跟著Richart一起跑跑跑；滑動畫面內收據，進行遊戲。</li>
						<li class="list">步驟B：滑動結束，畫面會顯示【再一次，還可以跑更遠】 或【辛苦了，註冊領獎勵！】。點選前者，可回到遊戲開始畫面繼續玩遊戲；點選後者，則進入本活動身分確認網頁。</li>
						<li class="list">步驟C：於本活動身分確認網頁填入身分證字號、e-mail或行動電話號碼後，點選【確認身分　繼續前往終點】按鈕，畫面會顯示【電腦註冊領獎】及【APP註冊領獎】按鈕。</li>
						<li class="list">步驟D：點選【電腦註冊領獎】進入台新銀行Richart官網 (以下簡稱Richart官網) 、或點選【APP註冊領獎】下載Richart數位銀行APP「Richart APP」，完成Richart數位活儲帳戶註冊流程。</li>
						<li class="list">步驟E：以Richart數位活儲帳戶註冊之使用者帳號、密碼從行動裝置登入Richart APP。</li>
						<li class="list">步驟F：完成上述步驟後，即可領取用戶禮NT$300，並可參加Richart Go Go Go好禮抽獎。</li>
					</ul>
					<p class="desc">台新銀行將於2016年06月15日於Richart官網公佈Richart Go Go Go好禮中獎名單，獎品將於2016年06月17日起聯絡得獎者後寄出。</p>
					<h4 class="info-title"><em>注意事項</em></h4>
					<ul class="dot-list">
						<li class="list">本活動之參加人與兌獎人限居住於臺、澎、金、馬地區並持有中華民國身分證之國民參加，且需年滿20歲；資料若有不實，將取消參加及領獎資格，主辦單位保留法律追訴權。</li>
						<li class="list">每人僅限參與Richart數位活儲帳戶開戶活動一次，曾參加註冊Richart數位活儲帳戶並符合資格後領取贈品、贈獎者，即無法參與本活動或其他任何以註冊Richart數位活儲帳戶為活動條件之贈品、贈獎活動。</li>
						<li class="list">台新銀行保留隨時修正、暫停、終止活動辦法及變更活動獎項內容之權利。</li>
					</ul>
					<h4 class="info-title no-line"><em>【Richart Go Go Go】 - <b class="sm-block">獎項發放規則</b></em></h4>
					<ul class="dot-list">
						<li class="list">【用戶禮NT$300】客戶完成Richart數位活儲帳戶之註冊並登入Richart APP後，本行將於用戶首次登入Richart APP之次月月底前將用戶禮NT$300匯入其開立之Richart數位活儲帳戶。</li>
						<li class="list">【Richart Go Go Go好禮抽獎】此為機會中獎，每人僅限一次抽獎機會；本活動中獎人須配合於指定期限內檢附相關身分證明文件並回填中獎回覆函予本行，若中獎人未依回覆函內所訂期限辦理中獎相關手續，將視為中獎人自動放棄中獎資格及獎項。</li>
						<li class="list">獎項皆以實物或主辦單位公告為準，恕不提供交換、挑選、轉讓及折現，亦不得更換中獎人。</li>
						<li class="list">本行非為「Richart Go Go Go好禮」之提供者或製造者，且與該商品或服務之提供廠商並無任何代理或合夥關係；兌獎人如因使用各項商品或服務發生任何爭議，請洽該商品或服務之實際製造或提供廠商處理。</li>
						<li class="list">本活動獎項商品出貨時若遇停產、缺貨等不可抗力因素而無法正常出貨時，本行有權得以其他等值商品替代。</li>
						<li class="list">本活動屬「機會中獎」所得，依所得稅法之規定，年度累積中獎價值若超過NT$1,000，應列入中獎人年度綜合所得稅申報，若年度累積中獎價值超過NT$20,000，中獎人須自行負擔10%之所得稅（非中華民國境內居住之個人為20%），並配合台新銀行辦理代扣繳相關事宜；中獎人應於通知期限內完成前述程序，始得領取中獎之獎品。中獎人須同時提供姓名、身分證字號、戶籍地址及身分證正、反面影本，以供台新銀行向稅捐機關進行年度列單申報作業。若中獎人不願提供相關資料或未依限如期繳納稅額並配合辦理手續等相關事宜，即視為自動放棄中獎資格。</li>
						<li class="list">參加者及中獎人應保證所有填寫或提出之資料皆為真實且正確，且未冒用或盜用任何第三人之資料或智慧財產權。如有不實或違法之情事，主辦單位將有權取消其活動參加資格；如為中獎者，則取消其中獎資格。如因此致主辦單位無法通知其中獎訊息時，主辦單位將不負任何責任，且如有致損害於主辦單位或其他任何第三人，參加者應自負法律責任。</li>
						<li class="list">任何不可歸責於台新銀行之事由，包含但不限於電腦、網路、電話、技術或硬體設備，而使參加活動者所登錄之資料有遺失、遲延、錯誤、毀損或無法辨識等情事產生，台新銀行不負任何法律與補償責任。</li>
						<li class="list">本活動嚴禁參加者使用程式或其他方式進行系統干擾偽造之行為，任何破壞活動進行、破壞網站管理者運作、違反網站管理使用條款者，如經主辦單位查證發現不法情形，主辦單位具有得取消其參加活動資格之權利。同時，對於任何以詐騙行動或其他足以傷及本活動或網站之個人主辦單位將追究其法律責任。</li>
						<li class="list">參加者提供資料對象為台新銀行，參加者同意提供個人資料予台新銀行於本活動目的範圍內蒐集處理及利用其個人資料。台新銀行將遵守個人資料保護法之規定，非經參加者之書面同意，不得將參加者之資料以任何方式提供予第三人蒐集、處理及利用，台新銀行所屬指定舉辦該活動之廠商亦同。</li>
						<li class="list">參加本活動即表示同意接受上述條款，若有違反者，主辦單位台新銀行有權取消參加人之參加、兌獎及獲獎資格。</li>
						<li class="list">若對本活動有任何疑義，請撥打台新銀行客服24小時服務專線：(02)2655-3355 / 0800-888-800</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
@section scripts{ 
}