@{
	Layout="~/Views/Shared/_Layout.cshtml";
}
@section header{ 
	<link rel="stylesheet" href="/Content/css/index.css?JS=20160420_01">
}
	<div class="l-content index">
		<div class="main-content">
			<section class="page-content">
				<h2 class="main-title">
					<em>Richart</em>
					<em>GoGoGo</em>
					<span class="slogan">跑跑開團慶</span>
				</h2>
				<p class="desc">Richart限時跑！一起來跑跑，完成遊戲、註冊Richart數位銀行活期儲蓄存款帳戶（下稱「Richart數位活儲帳戶」）並登入Richart APP，就可以領取「NT$300用戶禮」，還有機會抽「夏威夷雙人來回機票」、「MacBook Air」等GoGoGo好禮呦！</p>
				<a href="game" class="m-btn m-major ga_click_trace" ga_cat="index" ga_event="click" ga_label="start">開始遊戲</a>
			</section>
		</div>
		<div class="sub-content">
			<section class="remark">
				<h3>備註：</h3>
				<ol class="remark-list">
					<li class="list">每人僅限參與Richart數位活儲帳戶開戶活動一次，曾參加註冊Richart數位活儲帳戶並符合資格後領取贈品、贈獎者，即無法參與本活動或其他任何以註冊Richart數位活儲帳戶為活動條件之贈品、贈獎活動。</li>
					<li class="list">獎品限制、活動詳情與注意事項請見活動辦法。</li>
				</ol>
			</section>
		</div>
	</div>
@section scripts{ 
}