<meta charset="utf-8">
<meta name="keywords" content="Richart限時跑！完成指定任務就可以領取「NT$300用戶禮」，還有機會抽「夏威夷雙人來回機票」、「MacBook Air」等GoGoGo好禮呦！" />
<meta name="description" property="og:description" content="Richart限時跑！完成指定任務就可以領取「NT$300用戶禮」，還有機會抽「夏威夷雙人來回機票」、「MacBook Air」等GoGoGo好禮呦！" />
<meta name="title" content="Richart限時跑！完成指定任務就可以領取「NT$300用戶禮」，還有機會抽「夏威夷雙人來回機票」、「MacBook Air」等GoGoGo好禮呦！" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta property="fb:app_id" content="471818043022804" />
<meta property="og:title" content="Richart限時跑！完成指定任務就可以領取「NT$300用戶禮」，還有機會抽「夏威夷雙人來回機票」、「MacBook Air」等GoGoGo好禮呦！" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://richart-gogogo.sugarfun.com.tw/" />
<meta property="og:image" content="http://richart-gogogo.sugarfun.com.tw/Content/img/Shared/FB.jpg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:site_name" content="" />
<link rel="shortcut icon" type="image/x-icon" href="/Content/img/shared/favicon.ico">