<meta charset="utf-8">
<meta name="keywords" content="Richart和你一起助養浪浪" />
<meta name="description" property="og:description" content="每個生命，都值得擁有快樂的權利，讓我們一起和Richart幫助浪浪們。" />
<meta name="title" content="Richart和你一起助養浪浪" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta property="og:title" content="Richart和你一起助養浪浪" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://richart-friend.sugarfun.com.tw/" />
<meta property="og:image" content="http://richart-friend.sugarfun.com.tw/Content/img/FB.png" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:site_name" content="" />
<link rel="shortcut icon" type="image/x-icon" href="../../Content/img/shared/favicon.ico">