	<header class="l-header">
		<a href="http://richart.tw/" class="link richart ga_click_trace" ga_cat="header" ga_event="click" ga_label="logo">
			<h1 class="logo"><em>Richart</em></h1>
		</a>
		<nav class="m-nav">
			<button class="btn-menu jq-menu ga_click_trace" ga_cat="menu_bar" ga_event="click" ga_label="activity"><i class="m-icon icon-menu"></i><em>MENU</em></button>
			<ul class="m-nav-menu">
				<li class="list"><a href="index.html" class="link">首頁</a></li>
				<li class="list"><a href="game.html" class="link">開始遊戲</a></li>
				<li class="list"><a href="action.html" class="link ga_click_trace" ga_cat="nav" ga_event="click" ga_label="activity">活動辦法</a></li>
			</ul>
		</nav>
	</header>