	<header class="l-header b-clearfix">
		<h1 class="logo">
			<a href="http://richart.tw/" class="b-link b-hide-text richart" ga_cat="" ga_event="" ga_label="">
				<em>Richart</em>
			</a>
		</h1>
		<h2 class="slogan"><a href="http://richart-friend.sugarfun.com.tw/" class="b-link b-hide-text">擁抱生命擁抱愛，一起助養浪浪</a></h2>
		<nav class="m-nav">
			<button class="btn-menu b-dt-hide jq-menu">
				<em class="text"></em>
			</button>
			<div class="m-nav-menu b-middle">
				<ul class="menu-wrap">
					<li class="list">
						<a href="http://richart-friend.sugarfun.com.tw/donate" class="b-link foot-print">
							<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20160420_01#foot-print"/></svg>
							<em class="text">我要幫助浪浪</em>
						</a>
					</li>
					<li class="list">
						<a href="http://richart-friend.sugarfun.com.tw/" class="b-link index">
							<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20160420_01#index"/></svg>
							<em class="text b-dt-hide">首頁</em>
						</a>
					</li>
					<li class="list">
						<!-- <a href="http://www.facebook.com/share.php?u=http://richart-friend.sugarfun.com.tw/?utm_source=fb" class="b-link facebook" target="_blank"> -->
						<button class="b-link facebook jq-share">
							<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20160420_01#facebook"/></svg>
							<em class="text b-dt-hide">Facebook 分享</em>
						</button>
						<!-- </a> -->
					</li>
					<li class="list b-md-hide">
						<a href="http://line.naver.jp/R/msg/text/?因人為棄養或舉報，許多流浪動物進了收容所面臨生死交關。而從收容所救回來的他們，雖然免於安樂死的恐懼，但是，救援了，然後呢？http://richart-friend.sugarfun.com.tw/?utm_source=line" class="b-link line" target="_blank">
							<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20160420_01#line"/></svg>
							<em class="text b-dt-hide">Line 分享</em>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>