<div class="l-footer">
    <footer class="m-footer b-text-center b-bg-green-dark jQ-footer">
        <div class="m-footer-tools">
            <ul>
                <li>
                    <a href="https://thesanctuarytaiwan.org/" class="b-block" target="_blank">
                        <svg class="svg-icon is-pack"><use xlink:href="../../Content/svg/icon.svg?svg=20170824_01#logo-pack"/></svg>
                    </a>
                </li>
                <li>
                    <a href="https://tw.petique.com/home/" class="b-block" target="_blank">
                        <svg class="svg-icon is-petique"><use xlink:href="../../Content/svg/icon.svg?svg=20170824_01#logo-petique"/></svg>
                    </a>
                </li>
                <li>
                    <a href="https://hahow.in/" class="b-block" target="_blank">
                        <svg class="svg-icon is-hahow"><use xlink:href="../../Content/svg/icon.svg?svg=20170824_01#logo-hahow"/></svg>
                    </a>
                </li>
                <li>
                    <a href="http://www.udf.com.tw/" class="b-block" target="_blank">
                        <svg class="svg-icon is-udf"><use xlink:href="../../Content/svg/icon.svg?svg=20170824_01#logo-udf"/></svg>
                    </a>
                </li>
            </ul>
        </div>
        <small class="m-footer-copyright b-desc b-text-white"><p>© 台新國際商業銀行<span class="b-hide-xs"> </span><br class="b-br-xs">Copyright Taishin International Bank. All Rights Reserved.</p></small>
    </footer>
</div>