<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb">
<head>
    <!--#include virtual="../Shared/GlobalMeta.html" -->
    <title>Richart和你一起助養浪浪</title>
    <link rel="canonical" href="" />
    <!--#include virtual="../Shared/Globalcss.html" -->
    <link rel="stylesheet" href="/Content/css/donate.css?JS=20160420_01">
</head>
<body>
    <!--#include virtual="../Shared/Header.html" -->
    <div class="l-content">
        <div class="donate-content">
            <div class="donate-section is-kv">
                <p class="donate-para">每個<em class="emphasize">生命</em>，<br>都值得擁有<em class="emphasize">快樂</em>的權利。</p>
            </div>
            <div class="donate-section is-para">
                <h3 class="donate-title">捐款幫助浪浪請詳閱以下捐款流程</h3>
                <p class="donate-para">本活動 2016/10/XX ~ 2016/12/XX<br>凡未開立或已開立台新銀行 Richart <br class="b-dt-hide">數位銀行活期儲蓄存款用戶<br>(以下簡稱 Richart 數位活儲帳戶) <br class="b-dt-hide">且年滿二十歲之本國自然人者皆可參與。</p>
            </div>
            <div class="donate-section is-tab">
                <ul class="donate-tab-hd">
                    <li class="is-active">
                        <button type="button" class="donate-tab-btn jq-tabButton" data-hash="is-active" data-tab="is-01"><span class="text">Richart<br><em class="emphasize">老朋友</em>方案</span></button>
                        <svg class="svg-icon is-human"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#senior-official"/></svg>
                    </li>
                    <li>
                        <button type="button" class="donate-tab-btn jq-tabButton" data-hash="is-active" data-tab="is-02"><span class="text">Richart<br><em class="emphasize">新朋友</em>方案</span></button>
                        <svg class="svg-icon is-dog"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#play-ball"/></svg>
                        <svg class="svg-icon is-food"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#dog-food-3"/></svg>
                    </li>
                </ul>
                <ul class="donate-tab-bd jq-tab is-01">
                    <li class="donate-tab-frame">
                        <p class="donate-title"><b>你轉帳，我捐款</b></p>
                        <p class="donate-para">Richart 數位活儲帳戶用戶於活動期間，在 Richart APP 使用「任意轉」(註1) 功能進行跨行轉出交易(不限金額)，台新銀行將按每單筆轉帳交易，捐款 NT$5 至「協力園愛心共養流浪狗中途之家」專戶。</p>
                        <p class="donate-notice"><em>※註1任意轉功能係指透過輸入手機號碼、EMAIL信箱或是掃描收款人QRCODE完成之跨行轉出交易。</em></p>
                        <ul class="donate-step">
                            <li class="donate-step-item">
                                <p class="donate-para">開啟Richart APP<br>轉帳功能</p>
                                <div class="donate-step-frame"><figure><img src="/Content/img/donate/step-1.png?img=20161011_01"></figure></div>
                            </li>
                            <li class="donate-step-item">
                                <p class="donate-para">輸入轉帳金額</p>
                                <div class="donate-step-frame"><figure><img src="/Content/img/donate/step-2.png?img=20161011_01"></figure></div>
                            </li>
                            <li class="donate-step-item">
                                <p class="donate-para">輸入收款人的手機 /<br>Email 或掃描QRCode</p>
                                <div class="donate-step-frame"><figure><img src="/Content/img/donate/step-3.png?img=20161011_01"></figure></div>
                            </li>
                            <li class="donate-step-item">
                                <p class="donate-para">轉帳成功</p>
                                <div class="donate-step-frame"><figure><img src="/Content/img/donate/step-4.png?img=20161011_01"></figure></div>
                            </li>
                        </ul>
                        <p class="donate-notice">※首次使用轉帳功能，需先設定台新行動金鑰，才能進行非約定帳號轉帳交易。<a href="javascript:;" target="_blank" class="donate-notice-btn">如何設定?</a></p>
                        <div class="donate-btn is-qrcode">
                            <button type="submit" class="b-link btn-rainbow">
                                <span class="text">舊朋友快使用任意轉 Richart 加碼捐！<br><em class="small b-tm-hide">掃描 QR code 開啟 APP</em></span>
                                <i class="icon-qrcode b-tm-hide"></i>
                                <i class="icon-arrow-right"></i>
                            </button>
                        </div>
                    </li>
                   <li class="donate-tab-frame">
                       <p class="donate-title"><b>註冊登入，一起助養浪浪！</b></p>
                       <ul class="donate-list">
                           <li><p>於活動網頁登錄您的身分證字號，登錄本活動代表您指示Richart將您完成步驟2後獲得的用戶禮NT$500捐贈給「協力園愛心共養流浪狗中途之家」作為浪浪助養金。</p></li>
                           <li><p>成功註冊Richart數位銀行活期儲蓄存款帳戶(下稱Richart數位活儲帳戶)且首次登入Richart APP後可獲得用戶禮NT$500之回饋資格，主辦單位將依您於步驟1所為之指示捐出用戶禮NT$500款項至「協力園愛心共養流浪狗中途之家」作為浪浪助養金。</p></li>
                       </ul>
                       <p class="donate-notice">※還不知道如何線上註冊Richart數位活儲帳戶嗎? Richart小學堂幫您解決疑難雜症！<a href="javascript:;" target="_blank" class="donate-notice-btn">前往小學堂</a></p>
                        <div class="donate-btn">
                            <button type="submit" class="b-link btn-rainbow">
                                <span class="text">Richart新朋友請走這兒</span>
                                <i class="icon-arrow-right"></i>
                            </button>
                        </div>
                   </li>
                </ul>
            </div>
            <div class="donate-section is-term">
                <div class="m-item">
                    <div class="m-item-hd"><p>【注意事項】</p></div>
                    <ol class="m-item-bd">
                        <li><p>用戶禮NT$500將會認列您的年度其他所得，台新銀行將於活動期間結束後統一捐出，本行將於收到捐贈機構開立的捐款收據後寄至您於開戶時所留存之地址。</p></li>
                        <li><p>已於「Richart擁抱生命、擁抱愛，一起助養浪浪－Richart新朋友方案」活動網頁登錄者，不得再參加Richart數位活儲帳戶同期行銷推廣活動；曾參加Richart數位活儲帳戶同期行銷推廣活動者（如有登錄活動序號者，以登錄活動序號為準），即無法再參與「Richart擁抱生命、擁抱愛，一起助養浪浪－Richart新朋友方案」活動。如果您於註冊Richart數位活儲帳戶前已在Richart365會員累積R幣，開戶時請記得點選「放棄R幣」，這樣狗狗們才能順利地得到您的幫助唷！</p></li>
                        <li><p>任何不可歸責於本公司之事由，包含但不限於電腦、網路、電話、技術或硬體設備，而使參加活動者所登錄之資料有遺失、遲延、錯誤、毀損或無法辨識等情事產生，台新銀行不負任何法律與補償責任。</p></li>
                        <li><p>本活動嚴禁參加者使用程式或其他方式進行系統干擾偽造之行為，任何破壞活動進行、破壞網站管理者運作、違反網站管理使用條款者，如經主辦單位查證發現不法情形，主辦單位具有得取消其參加活動資格之權利。同時，對於任何以詐騙行動或其他足以傷及本活動或網站之個人主辦單位將追究其法律責任。</p></li>
                        <li><p>參加者提供資料對象為台新銀行參加者同意提供個人資料予台新銀行於本活動目的範圍內蒐集處理及利用其個人資料。台新銀行將遵守個人資料保護法之規定，非經參加者之書面同意，不得將參加者之資料以任何方式提供予第三人蒐集、處理及利用，台新銀行所屬指定舉辦該活動之廠商亦同。</p></li>
                        <li><p>參加本活動即表示同意接受上述條款，若有違反者，主辦單位台新銀行有權取消參加人之參加資格。</p></li>
                        <li><p>本活動辦法與說明如有未盡事項，或有其它相關規定，台新銀行得於相關活動網站公告或補充之，並保留隨時修正、暫停、終止活動辦法及變更活動獎項內容之權利。</p></li>
                        <li><p>若對本活動有任何疑義，請撥打台新銀行Richart數位銀行24小時客服專線：(02)8798-9088 / 0800-888-800。</p></li>
                    </ol>
                </div>
                <p>【活動回饋】<br>台新銀行將統一於活動結束後1個月內依透過本網站登錄參加活動之Richart新朋友的指示將用<br>戶禮款項捐出，並將於2017/1/31之前寄出捐款收據乙張。</p>
                <p><b class="emphasize">您幫助流浪犬的心，狗狗們感謝您。</b></p>
                <p class="donate-notice">楊香與她的夥伴們<br><a href="javascript:;" target="_blank" class="donate-notice-btn">了解協力園</a></p>
            </div>
        </div>
    </div>
    <!--#include virtual="../Shared/Footer.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script type="text/javascript" src="/scripts/js/donate.js?js=20160728_01"></script>
</html>