<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="Richart限時跑！完成指定任務就可以領取「NT$300用戶禮」，還有機會抽「夏威夷雙人來回機票」、「MacBook Air」等GoGoGo好禮呦！" />
	<meta name="description" property="og:description" content="Richart限時跑！完成指定任務就可以領取「NT$300用戶禮」，還有機會抽「夏威夷雙人來回機票」、「MacBook Air」等GoGoGo好禮呦！" />
	<meta name="title" content="Richart限時跑！完成指定任務就可以領取「NT$300用戶禮」，還有機會抽「夏威夷雙人來回機票」、「MacBook Air」等GoGoGo好禮呦！" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta property="fb:app_id" content="471818043022804" />
	<meta property="og:title" content="Richart限時跑！完成指定任務就可以領取「NT$300用戶禮」，還有機會抽「夏威夷雙人來回機票」、「MacBook Air」等GoGoGo好禮呦！" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://richart-gogogo.sugarfun.com.tw/" />
	<meta property="og:image" content="http://richart-gogogo.sugarfun.com.tw/Content/img/Shared/FB.jpg" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:site_name" content="" />
	<link rel="shortcut icon" type="image/x-icon" href="/Content/img/shared/favicon.ico">
	<title>Richart gogogo 限時跑拿大獎</title>
	<link rel="canonical" href="" />
	<link rel="stylesheet" href="/Content/css/style.css?JS=20160420_01">
	<link rel="stylesheet" href="/Content/css/finalstep.css?JS=20160420_01">
	<!--[if lt IE 9]>
	<script type="text/javascript" src="/Scripts/plugin/html5/html5.js??JS=20160216_01"></script>
	<![endif]-->
</head>
<body>
	<header class="l-header">
		<a href="http://richart.tw/" class="link richart">
			<h1 class="logo"><em>Richart</em></h1>
		</a>
		<nav class="m-nav">
			<button class="btn-menu jq-menu"><i class="m-icon icon-menu"></i><em>MENU</em></button>
			<ul class="m-nav-menu">
				<li class="list"><a href="http://richart-gogogo.sugarfun.com.tw/" class="link">首頁</a></li>
				<li class="list"><a href="http://richart-gogogo.sugarfun.com.tw/Game" class="link">開始遊戲</a></li>
				<li class="list"><a href="http://richart-gogogo.sugarfun.com.tw/Action" class="link">活動辦法</a></li>
			</ul>
		</nav>
	</header>
	<div class="l-content finalstep">
		<div class="main-content">
			<div class="main-content-hd">
				<h2 class="main-title"><em>Richart GoGoGo跑跑開團慶</em></h2>
			</div>
			<div class="main-content-bd">
				<div class="screen">
					<h3 class="msg-title">恭喜您跑到終點了！</h3>
					<p class="desc">立即註冊Richart數位活儲帳戶，並登入Richart APP，領取NT$300用戶禮囉！</p>
				</div>
			</div>
			<div class="main-content-ft">
				<div class="func-content">
					<ul class="func b-clearfix">
						<li class="list pc">
							<h3 class="sub-title">電腦註冊領獎</h3>
							<a href="javascript:;" class="btn-link"><em>看詳情</em></a>
						</li>
						<li class="list app">
							<h3 class="sub-title">APP註冊領獎</h3>
							<a href="https://goo.gl/fAEd1u" class="btn-link is-tm-show"><em>立即前往</em></a>
						</li>
					</ul>
					<p class="desc">每人僅限參與Richart活儲帳號開戶活動一次，曾參加註冊Richart活儲帳戶並符合資格後領取贈品、贈獎者，即無法參與本活動或其他任何以註冊Richart活儲帳戶為活動條件之贈品、贈獎活動，詳情請見右上角活動辦法。</p>
				</div>
			</div>
		</div>
	</div>
	<footer class="l-footer">
		<small class="copyright">©台新國際商業銀行 Copyright Taishin International Bank. All Rights Reserved</small>
	</footer>
</body>
<script type="text/javascript" src="/Scripts/plugin/jquery/jquery.min.js?JS=20160216_01"></script>
<script type="text/javascript" src="/Scripts/js/factory-min.js?JS=20160216_01"></script>
<script type="text/javascript" src="/Scripts/js/common-min.js?JS=20160216_01"></script>
</html>