<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>Richart gogogo 限時跑拿大獎</title>
	<link rel="canonical" href="" />
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="/Content/css/finalstep.css?JS=20160420_01">
	<!--#include virtual="../Shared/GlobalScriptHd.html" -->
</head>
<body>
	<!--#include virtual="../Shared/Header.html" -->
	<div class="l-content finalstep">
		<div class="main-content">
			<div class="main-content-hd">
				<h2 class="main-title"><em>Richart GoGoGo跑跑開團慶</em></h2>
			</div>
			<div class="main-content-bd">
				<div class="screen">
					<h3 class="msg-title">恭喜您跑到終點了！</h3>
					<p class="desc">立即註冊Richart數位活儲帳戶，並登入Richart APP，領取NT$300用戶禮囉！</p>
				</div>
			</div>
			<div class="main-content-ft">
				<div class="func-content">
					<ul class="func b-clearfix">
						<li class="list pc">
							<h3 class="sub-title">電腦註冊領獎</h3>
							<a href="javascript:;" class="btn-link"><em>看詳情</em></a>
						</li>
						<li class="list app">
							<h3 class="sub-title">APP註冊領獎</h3>
							<a href="https://goo.gl/fAEd1u" class="btn-link is-tm-show"><em>立即前往</em></a>
						</li>
					</ul>
					<p class="desc">每人僅限參與Richart活儲帳號開戶活動一次，曾參加註冊Richart活儲帳戶並符合資格後領取贈品、贈獎者，即無法參與本活動或其他任何以註冊Richart活儲帳戶為活動條件之贈品、贈獎活動，詳情請見右上角活動辦法。</p>
				</div>
			</div>
		</div>
	</div>
	<!--#include virtual="../Shared/Footer.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>