<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
    <!--#include virtual="../Shared/GlobalMeta.html" -->
    <title>Richart gogogo 限時跑拿大獎</title>
    <link rel="canonical" href="" />
    <!--#include virtual="../Shared/Globalcss.html" -->
    <link rel="stylesheet" href="/Content/css/game.css?CSS=20160420_01">
    <!--#include virtual="../Shared/GlobalScriptHd.html" -->
</head>
<body>
    <!--#include virtual="../Shared/Header.html" -->
    <div class="l-content game">
        <div class="main-content">
            <div class="main-content-hd">
                <h2 class="main-title"><em>Richart GoGoGo 跑跑開團慶</em></h2>
            </div>
            <div class="main-content-bd">
                <div class="screen">
                    <ul class="game-screen jQ-screens" data-active="is-active" data-move="is-move-" data-hide="is-hide">
                        <li class="is-move-0 is-active jQ-screenItem">
                            <p class="desc"><em class="b-hide-sm b-hide-xs">點擊下方 Richart (<i class="game-richart-info"></i>)</em><em class="b-hide-md">滑動下方收據</em>，<br />讓 Richart 跑起來，<br />最後看看 Richart 跑到哪裡，<br />即有機會參加<br />GoGoGo 好禮抽獎活動呦！</p>
                            <button type="button" class="m-btn m-major jQ-start">熱身完畢，開始GoGoGo</button>
                        </li>
                        <li class="is-hide jQ-screenItem">
                            <em class="game-times-title">Time :</em>
                            <time class="game-times jQ-times">00:20</time>
                        </li>
                        <li class="is-hide jQ-screenItem" ga_cat="game" ga_event="change" ga_label="result">
                            <i class="game-richart-thumbs"></i>
                            <p class="desc">您跑了 <em class="game-result jQ-result">0</em> 公尺！<br />接下來繼續達成指定任務<br class="b-br-xs" />跑向終點，<br />就可參加 GoGoGo 好禮抽獎，<br /><em class="jQ-messageRandom"></em><br />或獲得其他 GoGoGo 好禮呦！</p>
                            <ul>
                                <li>
                                    <button type="button" class="m-btn m-minor jQ-replay ga_click_trace" ga_cat="game" ga_event="click" ga_label="again">再一次，我還可以跑更遠</button>
                                </li>
                                <li>
                                    <a href="javascript:;" class="m-btn m-major ga_click_trace" ga_cat="game" ga_event="click" ga_label="award">前往終點，註冊領獎勵</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-content-ft sm-ticket jQ-contentFt" data-fixed="is-fixed">
                <div class="game-content jQ-game" data-ready="is-ready" data-start="is-start" data-end="is-end">
                    <span class="game-info">
                        <i data-info="3" class="is-number"></i>
                        <i data-info="2" class="is-number"></i>
                        <i data-info="1" class="is-number"></i>
                        <i data-info="Go" class="is-number jQ-animationNumber"></i>
                        <i data-info="Gameover" class="is-gameover jQ-animationOver"></i>
                    </span>
                    <time class="game-times-mobile jQ-timesMobile"></time>
                    <em class="game-distance jQ-distance" data-mark="is-mark"><em>0</em><i>m</i></em>
                    <i class="game-richart jQ-richart" data-run="is-run-" data-start="is-start"></i>
                    <div class="game-scroll jQ-scroll" data-length="100" data-space="168" data-unit="m">
                        <div class="jQ-scrollItem"><em>0</em></div>
                        <div>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-content">
            <p>備註：<br class="b-br-xs" />可重複玩遊戲，但每個 Richart 數位活儲帳戶至多僅得享一次 GoGoGo 好禮抽獎及領取 NT$300 用戶禮之機會</p>
        </div>
    </div>
    <!--#include virtual="../Shared/NotSupport.html" -->
    <!--#include virtual="../Shared/Footer.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->

<!-- self scripts begin -->
<script type="text/javascript" src="/Scripts/js/game.js?JS=20160420_01"></script>
<!-- self scripts end -->
</html>