<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>Richart gogogo 限時跑拿大獎</title>
	<link rel="canonical" href="" />
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="/Content/css/index.css?JS=20160420_01">
	<!--#include virtual="../Shared/GlobalScriptHd.html" -->
</head>
<body>
	<!--#include virtual="../Shared/Header.html" -->
	<div class="l-content index">
		<div class="main-content">
			<section class="page-content">
				<h2 class="main-title">
					<em>Richart</em>
					<em>GoGoGo</em>
					<span class="slogan">跑跑開團慶</span>
				</h2>
				<p class="desc">Richart限時跑！一起來跑跑，完成遊戲、註冊Richart數位銀行活期儲蓄存款帳戶（下稱「Richart數位活儲帳戶」）並登入Richart APP，就可以領取「NT$300用戶禮」，還有機會抽「夏威夷雙人來回機票」、「MacBook Air」等GoGoGo好禮呦！</p>
				<a href="game.html" class="m-btn m-major">開始遊戲</a>
			</section>
		</div>
		<div class="sub-content">
			<section class="remark">
				<h3>備註：</h3>
				<ol class="remark-list">
					<li class="list">每人僅限參與Richart數位活儲帳戶開戶活動一次，曾參加註冊Richart數位活儲帳戶並符合資格後領取贈品、贈獎者，即無法參與本活動或其他任何以註冊Richart數位活儲帳戶為活動條件之贈品、贈獎活動。</li>
					<li class="list">獎品限制、活動詳情與注意事項請見活動辦法。</li>
				</ol>
			</section>
		</div>
	</div>
	<!--#include virtual="../Shared/NotSupport.html" -->
	<!--#include virtual="../Shared/Footer.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>