<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb">
<head>
	<!--#include virtual="../Shared/GlobalMeta.html" -->
	<title>Richart和你一起助養浪浪</title>
	<link rel="canonical" href="" />
	<!--#include virtual="../Shared/Globalcss.html" -->
	<link rel="stylesheet" href="/Content/css/index.css?JS=20160420_01">
</head>
<body>
	<!--#include virtual="../Shared/Header.html" -->
	<div class="l-content">
		<div class="main-content">
			<div class="section-cut main-cut">
				<div class="dog-list jQ-owl-xs" data-items="1" data-ctrl="false" data-dots="true" data-mouse-drag="true" data-touch-drag="true">
					<div class="list">
						<figure class="img-wrap">
							<img src="/Content/img/index/dogs/01.png" alt="阿布 / 8歲 木柵拾獲">
							<em class="desc">
								<span class="info"><b class="name">阿布</b>/ 8歲</span>
								<span class="situation">木柵拾獲</span>
							</em>
						</figure>
					</div>
					<div class="list">
						<figure class="img-wrap">
							<img src="/Content/img/index/dogs/02.png" alt="皮皮 / 1歲半 永和仁愛公園拾獲">
							<em class="desc">
								<span class="info"><b class="name">皮皮</b>/ 1歲半</span>
								<span class="situation">永和仁愛公園拾獲</span>
							</em>
						</figure>
					</div>
					<div class="list">
						<figure class="img-wrap">
							<img src="/Content/img/index/dogs/03.png" alt="趴趴 / 1歲多 鶯歌拾獲">
							<em class="desc">
								<span class="info"><b class="name">趴趴</b>/ 1歲多</span>
								<span class="situation">鶯歌拾獲</span>
							</em>
						</figure>
					</div>
					<div class="list">
						<figure class="img-wrap">
							<img src="/Content/img/index/dogs/04.png" alt="捲黑 / 4歲 板橋拾獲">
							<em class="desc">
								<span class="info"><b class="name">捲黑</b>/ 4歲</span>
								<span class="situation">板橋拾獲</span>
							</em>
						</figure>
					</div>
					<div class="list">
						<figure class="img-wrap">
							<img src="/Content/img/index/dogs/09.png" alt="貝貝 / 6歲 棄養懷孕母狗生">
							<em class="desc">
								<span class="info"><b class="name">貝貝</b>/ 6歲</span>
								<span class="situation">棄養懷孕母狗生</span>
							</em>
						</figure>
					</div>
					<div class="list">
						<figure class="img-wrap">
							<img src="/Content/img/index/dogs/05.png" alt="大黑 / 5歲 板橋拾獲">
							<em class="desc">
								<span class="info"><b class="name">大黑</b>/ 5歲</span>
								<span class="situation">板橋拾獲</span>
							</em>
						</figure>
					</div>
					<div class="list">
						<figure class="img-wrap">
							<img src="/Content/img/index/dogs/07.png" alt="甜甜 / 6歲 棄養懷孕母狗生">
							<em class="desc">
								<span class="info"><b class="name">甜甜</b>/ 6歲</span>
								<span class="situation">棄養懷孕母狗生</span>
							</em>
						</figure>
					</div>
					<div class="list">
						<figure class="img-wrap">
							<img src="/Content/img/index/dogs/08.png" alt="米妮 / 10歲以上 車禍救援">
							<em class="desc">
								<span class="info"><b class="name">米妮</b>/ 10歲以上</span>
								<span class="situation">車禍救援</span>
							</em>
						</figure>
					</div>
					<div class="list">
						<figure class="img-wrap">
							<img src="/Content/img/index/dogs/06.png" alt="牛妹妹 / 約8歲 台北動檢所搶救">
							<em class="desc">
								<span class="info"><b class="name">牛妹妹</b>/ 約8歲</span>
								<span class="situation">台北動檢所搶救</span>
							</em>
						</figure>
					</div>
					<div class="list">
						<figure class="img-wrap">
							<img src="/Content/img/index/dogs/10.png" alt="弟弟 / 3歲 汐止拾獲">
							<em class="desc">
								<span class="info"><b class="name">弟弟</b>/ 3歲</span>
								<span class="situation">汐止拾獲</span>
							</em>
						</figure>
					</div>
					<div class="list">
						<figure class="img-wrap">
							<img src="/Content/img/index/dogs/11.png" alt="可樂 / 12歲 景美拾獲">
							<em class="desc">
								<span class="info"><b class="name">可樂</b>/ 12歲</span>
								<span class="situation">景美拾獲</span>
							</em>
						</figure>
					</div>
					<div class="list">
						<figure class="img-wrap">
							<img src="/Content/img/index/dogs/12.png" alt="吐司 / 4歲 新北市動檢所搶救">
							<em class="desc">
								<span class="info"><b class="name">吐司</b>/ 4歲</span>
								<span class="situation">新北市動檢所搶救</span>
							</em>
						</figure>
					</div>
				</div>
				<button class="btn-slide-down jq-slide-down"></button>
			</div>
			<div class="section-cut video-cut">
				<em class="emphasize">
					<span class="saying">「一個國家的文明程度，就看它怎麼對待動物。」</span>
					<span class="celebrity">印度聖雄 甘地</span>
				</em>
				<button class="btn-play">
					<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#play"/></svg>
					<em class="text">PLAY</em>
				</button>
			</div>
			<div class="section-cut encounter-cut">
				<h3 class="section-title">你知道嗎？</h3>
				<em class="desc">流浪動物被抓進收容所之後，<br class="b-dt-hide">若沒有被即時搶救或是認養，<br>則會面臨生死關頭．．．</em>
				<svg class="svg-icon encounter-linear"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#encounter"/></svg>
				<ul class="encounter-list">
					<li class="list">
						<div class="what-happened"><span class="b-m-block">台灣每年近</span><strong class="strong b-dt-block">111,000</strong><span class="b-dt-block b-align-right">隻狗狗</span><b class="bold b-block b-align-right">被丟棄</b></div>
						<svg class="svg-icon curve"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#encounter-2"/></svg>
						<svg class="svg-icon abandon"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#abandon"/></svg>
						<svg class="svg-icon tear-drop"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#tear-drop"/></svg>
					</li>
					<li class="list">
						<div class="what-happened"><span class="b-block">在2105年有</span><strong class="strong">79,000</strong>隻狗狗<b class="bold b-block b-align-right">被抓進收容所</b></div>
						<svg class="svg-icon curve"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#encounter-2"/></svg>
						<svg class="svg-icon shelter"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#shelter"/></svg>
						<svg class="svg-icon web"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#web"/></svg>
					</li>
					<li class="list">
						<div class="what-happened"><span class="b-block"><b class="b-m-block">2016年，</b>短短的春天裡就有</span><strong class="strong">2,000</strong>隻流浪狗<b class="bold b-block b-align-right">遭安樂死</b></div>
						<svg class="svg-icon curve"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#encounter-2"/></svg>
						<svg class="svg-icon euthanasia"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#euthanasia"/></svg>
						<svg class="svg-icon soul"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#soul"/></svg>
					</li>
					<li class="list">
						<div class="what-happened"><strong class="strong">台灣各縣市2016年春天</strong>安樂死流浪動物數量圖</div>
						<svg class="svg-icon curve"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#encounter-3"/></svg>
						<div class="map">
							<ul class="kill-list">
								<li class="count">基隆市98隻</li>
								<li class="count">宜蘭縣143隻</li>
								<li class="count">南投縣419隻</li>
								<li class="count">屏東縣421隻</li>
								<li class="count">澎湖縣67隻</li>
								<li class="count">嘉義縣65隻</li>
								<li class="count">彰化縣446隻</li>
								<li class="count">台中市85隻</li>
								<li class="count">新竹市30隻</li>
								<li class="count">金門縣79隻</li>
								<li class="count">桃園市52隻</li>
							</ul>
							<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#taiwan-map"/></svg>
						</div>
					</li>
					<li class="list">
						<em class="text">近年來觀念宣導，<br class="b-dt-hide">加上台灣各縣市民間機構的積極救援，<br class="b-dt-hide">讓安樂死率逐年下降中.....</em>
						<div class="what-happened"><strong class="strong">歷年全國收容所</strong>平均安樂死率變化圖</div>
						<ol class="bar-graph">
							<li class="year-data">
								<div class="bar-wrap">
									<span class="percentage">62%</span>
									<span class="year">2013</span>
								</div>
							</li>
							<li class="year-data">
								<div class="bar-wrap">
									<span class="percentage">48%</span>
									<span class="year">2014</span>
								</div>
							</li>
							<li class="year-data">
								<div class="bar-wrap">
									<span class="percentage">30%</span>
									<span class="year">2015</span>
								</div>
							</li>
							<li class="year-data">
								<div class="bar-wrap">
									<span class="percentage">21%</span>
									<span class="year">2016 Q1</span>
								</div>
							</li>
						</ol>
					</li>
				</ul>
				<span class="source">資料來源：農委會</span>
				<button class="btn-slide-down jq-slide-down"></button>
			</div>
			<div class="section-cut after-cut">
				<h3 class="section-title">救援了，然後呢？</h3>
				<em class="desc">從收容所救回來的浪犬們，<br class="b-dt-hide">雖然免於安樂死的恐懼，<br class="b-m-hide">但接下來的生存問題，<br class="b-dt-hide">仍然是龐大的壓力，<br class="b-m-hide">即便如此，<br class="b-dt-hide">協力園仍然盡心盡力地照顧著這些浪犬們．．．</em>
				<ul class="situation-list">
					<li class="list">
						<p class="story"><em class="emphasize">協力園提供的環境</em>總坪數4000坪<br>總共規劃了12區<br>共有4座化糞池<br>園所內有1000以上的狗<br>狗狗們的每天放風時間4小時以上<br>狗狗放風的活動範圍平面面積有1000坪</p>
						<svg class="svg-icon encounter-linear"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#encounter"/></svg>
						<div class="animation-wrap">
							<svg class="svg-icon ground-2"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#ground-2"/></svg>
							<svg class="svg-icon ball"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#ball"/></svg>
							<svg class="svg-icon play-ball"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#play-ball"/></svg>
						</div>
					</li>
					<li class="list">
						<p class="story"><em class="emphasize">無微不至的照顧</em>1位70歲高齡的負責人<br>每天平均勞動8小時<br>10位高齡工作人員<br>照顧浪犬已經有32年<br>平均工作人員年齡65歲</p>
						<svg class="svg-icon encounter-linear"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#encounter"/></svg>
						<div class="animation-wrap">
							<svg class="svg-icon ground-3"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#ground-3"/></svg>
							<svg class="svg-icon senior-official"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#senior-official"/></svg>
						</div>
					</li>
					<li class="list">
						<p class="story"><em class="emphasize">為了狗狗吃的健康</em>每隻狗狗都可以吃到3種不同的飼料<br>每個月需要5400公斤的飼料量<br>每個月的基本開銷40萬<br>狗狗的平均壽命為15歲<br>狗奶奶已經照顧了幾千隻的愛孫</p>
						<div class="animation-wrap">
							<svg class="svg-icon ground"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#ground"/></svg>
							<svg class="svg-icon food-2"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#dog-food-2"/></svg>
							<svg class="svg-icon food-3"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#dog-food-3"/></svg>
							<svg class="svg-icon food-1"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#dog-food-1"/></svg>
							<div class="scale">
								<div class="platform"></div>
								<svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20161004_01#scale"/></svg>
								<em class="count"><strong>5400</strong>kg</em>
								<div class="pointer"><i class="center"></i></div>
							</div>
						</div>
					</li>
				</ul>
				<button class="btn-slide-down jq-slide-down"></button>
			</div>
			<div class="section-cut donate-cut">
				<h3 class="section-title">協力園愛心共養<br class="b-m-block">流浪狗中途之家</h3>
				<p class="desc">座落在新店山區間的協力園，當初憑藉著一股愛心而收留了幾隻流浪狗狗，然而這一去就無法回頭，負責人楊香女士超過三十年的照顧浪犬經驗，讓園所內的一千隻狗狗透過共養機制，放心飽餐、並且可以在廣大腹地中自在的奔馳。</p>
				<p class="desc b-align-right"><br>協會負責人 楊香</p>
				<a href="" class="b-link btn-rainbow"><em class="text">了解如何幫助浪浪</em><i class="icon-arrow-right"></i></a>
			</div>
		</div>
	</div>
	<!--#include virtual="../Shared/Footer.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
</html>