<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb">
<head>
    <!--#include virtual="../Shared/GlobalMeta.html" -->
    <title>Richart和你一起助養浪浪</title>
    <link rel="canonical" href="" />
    <!--#include virtual="../Shared/Globalcss.html" -->
    <link rel="stylesheet" href="/Content/css/join.css?JS=20160420_01">
</head>
<body>
    <!--#include virtual="../Shared/Header.html" -->
    <div class="l-content">
        <div class="join-content">
            <div class="join-section is-kv">
                <div class="join-kv">
                    <p class="join-kv-title"><em class="b-m-hide">讓他們免於飢餓、免於恐懼、免於死亡<br></em>讓這些浪犬們，<br>有機會繼續快樂的奔跑。</p>
                    <svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20161005_01#bg-circle"/></svg>
                </div>
                <span class="join-name b-m-hide">牛妹妹<br>8歲</span>
            </div>
            <div class="join-section is-form">
                <p class="join-title">完成指定步驟，成為愛心助養的大家庭！</p>
                <p class="join-para">參加新朋友方案，主辦單位將依您的指示捐出用戶禮NT$500至「新北市流浪動物保護協會」作為浪浪助養金；用戶禮NT$500將會認列為您的年度其他所得，台新銀行將於活動期間結束後統一捐出，您將會收到由捐贈機構開立的捐款收據。</p>
                <div class="join-form m-form-group">
                    <ul class="join-form-group">
                        <li class="m-form is-inline">
                            <div class="m-form-item">
                                <div class="m-form-input">
                                    <label class="m-form-label">
                                        <div class="m-form-elem">
                                            <input type="text" class="m-form-type" placeholder="請輸入身分證字號" maxlength="10">
                                        </div>
                                    </label>
                                </div>
                                <div class="m-form-validate"></div>
                            </div>
                            <em class="m-form-addon">(必填欄位)</em>
                        </li>
                        <li class="m-form is-inline">
                            <div class="m-form-item">
                                <div class="m-form-input">
                                    <label class="m-form-label">
                                        <div class="m-form-elem">
                                            <input type="text" class="m-form-type" placeholder="請輸入行動電話號碼" maxlength="10">
                                        </div>
                                    </label>
                                </div>
                                <div class="m-form-validate"></div>
                            </div>
                            <em class="m-form-addon">(必填欄位)</em>
                        </li>
                    </ul>
                    <svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20161005_01#dog-food-1"/></svg>
                </div>
                <div class="join-btn">
                    <button type="submit" class="b-link btn-rainbow">
                        <em class="text">確認身份！<br class="b-dt-hide">加入 Richart 愛心助養行列</em>
                        <i class="icon-arrow-right"></i>
                    </button>
                </div>
                <div class="join-term">
                    <p class="join-para">註：用戶禮NT$500將會認列您的年度其他所得，台新銀行將於活動期間結束後統一捐出，本行將於收到捐贈機構開立的捐款收據後寄至您於開戶時所留存之地址。<br>註：已於「Richart擁抱生命、擁抱愛，一起助養浪浪－Richart新朋友方案」活動網頁登錄者，不得再參加Richart數位活儲帳戶同期行銷推廣活動；曾參加Richart數位活儲帳戶同期行銷推廣活動者（如有登錄活動序號者，以登錄活動序號為準），即無法再參與「Richart擁抱生命、擁抱愛，一起助養浪浪－Richart新朋友方案」活動。如果您於註冊Richart數位活儲帳戶前已在Richart365會員累積R幣，開戶時請記得點選「放棄R幣」，這樣狗狗們才能順利地得到您的幫助唷！</p>
                    <div class="join-notice">
                        <div class="join-notice-content m-item jq-scrollbox">
                            <div class="m-item-hd">
                                <p>【個人資料保護之法定告知事項】</p>
                                <p>親愛的客戶您好，由於個人資料之蒐集，涉及您的隱私權益，台新國際商業銀行股份有限公司〈以下簡稱本行〉向您蒐集個人資料時，依據個人資料保護法第8條第1項規定，應明確告知您下列事項：〈一〉非公務機關名稱〈二〉蒐集之目的〈三〉個人資料之類別〈四〉個人資料利用之期間、地區、對象及方式〈五〉當事人依個人資料保護法第3條規定得行使之權利及方式〈六〉當事人得自由選擇提供個人資料時，不提供將對其權益之影響。</p>
                            </div>
                            <ol class="m-item-bd">
                                <li data-label="一"><p>本行蒐集您個人資料之特定目的如下：<br>您在Richart by Taishin Bank參加「Richart擁抱生命、擁抱愛，一起助養浪浪」活動及其相關程序（包括但不限於獲獎通知與領取獎品及代辦中獎所得稅申報）。</p></li>
                                <li data-label="二"><p>本行蒐集您的個人資料類別，如身分證統一編號、聯絡方式等詳如您在本行官方網頁填寫之內容。</p></li>
                                <li data-label="三">
                                    <div>
                                        <p>本行將您的個人資料為利用之期間、地區、對象及方式：</p>
                                        <ol>
                                            <li data-label="(一)">
                                                <div>
                                                    <p>期間：</p>
                                                    <ol>
                                                        <li><p>特定目的存續期間。</p></li>
                                                        <li><p>依相關法令所定〈例如商業會計法等〉或因執行業務所必須之保存期間或依個別契約就資料之保存所定之保存年限〈以期限最長者為準〉。</p></li>
                                                    </ol>
                                                </div>
                                            </li>
                                            <li data-label="(二)"><p>地區：以下第〈三〉點所列之利用對象，其國內及國外所在地。</p></li>
                                            <li data-label="(三)">
                                                <div>
                                                    <p>對象：</p>
                                                    <ol>
                                                        <li><p>本行〈含受本行委託處理事務之委外機構〉。</p></li>
                                                        <li><p>依法令規定利用之機構〈例如：本行所屬金融控股公司及金融控股公司之其他子公司等〉。</p></li>
                                                        <li><p>其他業務相關之機構〈例如：通匯行、財團法人金融聯合徵信中心、臺灣票據交換所、財金資訊股份有限公司、信用保證機構、信用卡國際組織、收單機構暨特約商店等〉。</p></li>
                                                        <li><p>依法有權機關或金融監理機關。</p></li>
                                                        <li><p>您所同意之對象〈例如本行共同行銷或交互運用客戶資料之公司、與本行合作推廣業務之公司、國內外稅務扣繳義務人等〉。</p></li>
                                                        <li><p>與我國政府簽訂條約、協議之外國政府機構。</p></li>
                                                    </ol>
                                                </div>
                                            </li>
                                            <li data-label="(四)"><p>方式：符合個人資料保護相關法令以自動化機器或其他非自動化之利用方式。</p></li>
                                        </ol>
                                    </div>
                                </li>
                                <li data-label="四">
                                    <div>
                                        <p>依據個人資料保護法第3條規定，您就本行保有您的個人資料，得行使下列權利：</p>
                                        <ol>
                                            <li data-label="(一)"><p>除有個人資料保護法第10條所規定之例外情形外，得向本行查詢、請求閱覽或請求製給複製本，惟本行依個人資料保護法第14條規定，得酌收必要成本費用。</p></li>
                                            <li data-label="(二)"><p>得向本行請求補充或更正個人資料，惟依個人資料保護法施行細則第19條規定，您應適當釋明其原因及事實。</p></li>
                                            <li data-label="(三)"><p>本行如有違反個人資料保護法規定蒐集、處理或利用您的個人資料，依個人資料保護法第11條第4項規定，您得向本行請求停止蒐集您的個人資料。</p></li>
                                            <li data-label="(四)"><p>依個人資料保護法第11條第2項規定，個人資料正確性有爭議者，得向本行請求停止處理或利用您的個人資料。惟依該項但書規定，本行因執行業務所必須並註明其爭議或經您書面同意者，不在此限。</p></li>
                                            <li data-label="(五)"><p>依個人資料保護法第11條第3項規定，個人資料蒐集之特定目的消失或期限屆滿時，得向本行請求刪除、停止處理或利用您的個人資料。惟依該項但書規定，本行因執行業務所必須或經您書面同意者，不在此限。</p></li>
                                        </ol>
                                    </div>
                                </li>
                                <li data-label="五"><p>您如欲行使上述個人資料保護法第3條規定之各項權利，有關如何行使之方式，您得向本行(申請各項業務專線0800-000-456或客戶服務專線02-26553355)或於本行網址(www.taishinbank.com.tw)查詢。</p></li>
                                <li data-label="六"><p>您得自由選擇是否提供相關個人資料及類別，惟您所拒絕提供之個人資料及類別，如果是辦理業務審核或作業所需之資料，將影響本行進行必要之業務審核或作業而無法提供您相關服務，或依美國海外帳戶稅收遵循法可能將您於本行之帳戶列為不合作帳戶(Recalcitrant Account)，敬請見諒。</p></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20161005_01#senior-official"/></svg>
            </div>
        </div>
    </div>
    <!--#include virtual="../Shared/Footer.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script type="text/javascript" src="/Scripts/plugin/scrollbar/enscroll-0.6.2.min.js?JS=20161007_01"></script>
<script type="text/javascript" src="/Scripts/js/join.js?JS=20161007_01"></script>
</html>