<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--[if IE 8]><html class="no-js IE8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js IE9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb" class="no-js smart">
<!--<![endif]-->
<head>
    <!--#include virtual="../Shared/GlobalMeta.html" -->
    <title>Richart x friend</title>
    <link rel="canonical" href="" />
    <!--#include virtual="../Shared/Globalcss.html" -->
    <link rel="stylesheet" href="/Content/css/join.css?JS=20160420_01">
    <!--#include virtual="../Shared/GlobalScriptHd.html" -->
</head>
<body>
    <!--#include virtual="../Shared/Header.html" -->
    <div class="l-content">
        <div class="join-content">
            <div class="join-section is-kv">
                <div class="join-kv">
                    <p class="join-kv-title"><em class="b-m-hide">讓他們免於飢餓、免於恐懼、免於死亡<br></em>讓這些浪犬們，<br>有機會繼續快樂的奔跑。</p>
                    <svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20161005_01#bg-circle"/></svg>
                </div>
                <span class="join-name b-m-hide">牛妹妹<br>8歲</span>
            </div>
            <div class="join-section is-form">
                <p class="join-title">完成指定步驟，成為愛心助養的大家庭！</p>
                <p class="join-para">參加新朋友方案，主辦單位將依您的指示捐出用戶禮NT$500至「協力園愛心共養流浪狗中途之家」作為浪浪助養金；用戶禮NT$500將會認列為您的年度其他所得，台新銀行將於活動期間結束後統一捐出，您將會收到由捐贈機構開立的捐款感謝函與捐款收據。</p>
                <div class="join-form m-form-group">
                    <ul class="join-form-group">
                        <li class="m-form is-inline">
                             <div class="m-form-item">
                                  <div class="m-form-input">
                                       <label class="m-form-label">
                                            <div class="m-form-elem">
                                                 <input type="text" class="m-form-type" placeholder="｜請輸入身分證字號" maxlength="10">
                                            </div>
                                       </label>
                                  </div>
                                  <div class="m-form-validate"></div>
                             </div>
                             <em class="m-form-addon">(必填欄位)</em>
                        </li>
                        <li class="m-form is-inline">
                             <div class="m-form-item">
                                  <div class="m-form-input">
                                       <label class="m-form-label">
                                            <div class="m-form-elem">
                                                 <input type="text" class="m-form-type" placeholder="｜請輸入行動電話號碼" maxlength="10">
                                            </div>
                                       </label>
                                  </div>
                                  <div class="m-form-validate"></div>
                             </div>
                             <em class="m-form-addon">(必填欄位)</em>
                        </li>
                    </ul>
                    <svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20161005_01#dog-food-1"/></svg>
                </div>
                <div class="join-btn">
                    <button type="submit" class="b-link btn-rainbow">
                        <em class="text">確認身份！<br class="b-dt-hide">加入 Richart 愛心助養行列</em>
                        <i class="icon-arrow-right"></i>
                    </button>
                </div>
                <div class="join-term">
                    <p class="join-para">註：用戶禮NT$500將會認列您的年度其他所得，台新銀行將於活動期間結束後統一捐出，本行將於收到捐贈機構開立的捐款感謝函與捐款收據後寄至您於開戶時所留存之地址。<br>註：已於「Richart擁抱生命、擁抱愛，一起助養浪浪－Richart新朋友方案」活動網頁登錄者，不得再參加Richart數位活儲帳戶同期行銷推廣活動；曾參加Richart數位活儲帳戶同期行銷推廣活動者（如有登錄活動序號者，以登錄活動序號為準），即無法再參與「Richart擁抱生命、擁抱愛，一起助養浪浪－Richart新朋友方案」活動。如果您於註冊Richart數位活儲帳戶前已在Richart365會員累積R幣，開戶時請記得點選「放棄R幣」，這樣狗狗們才能順利地得到您的幫助唷！</p>
                    <div class="join-notice">
                        <div class="join-notice-content jq-scrollbox">
                            <p>【個人資料保護之法定告知事項】<br>親愛的客戶您好，由於個人資料之蒐集，涉及您的隱私權益，台新國際商業銀行股份有限公司〈以下簡稱本行〉向您蒐集個人資料時，依據個人資料保護法第8條第1項規定，應明確告知您下列事項：〈一〉非公務機關名稱〈二〉蒐集之目的〈三〉個人資料之類別〈四〉個人資料利用之期間、地區、對象及方式〈五〉當事人依個人資料保護法第3條規定得行使之權利及方式〈六〉當事人得自由選擇提供個人資料時，不提供將對其權益之影響。</p>
                        </div>
                    </div>
                </div>
                <svg class="svg-icon"><use xlink:href="/Content/svg/icon.svg?SVG=20161005_01#senior-official"/></svg>
            </div>
        </div>
    </div>
    <!--#include virtual="../Shared/Footer.html" -->
</body>
<!--#include virtual="../Shared/GlobalScriptFt.html" -->
<script type="text/javascript" src="/Scripts/plugin/scrollbar/enscroll-0.6.2.min.js?JS=20161007_01"></script>
<script type="text/javascript" src="/Scripts/js/join.js?JS=20161007_01"></script>
</html>