<div class="l-footer">
    <footer class="m-footer b-text-center b-bg-green-dark jQ-footer">
        <div class="m-footer-tools">
            <ul>
                <li>
                    <a href="https://thesanctuarytaiwan.org/" class="b-block" target="_blank">
                        <figure class="m-footer-logo is-pack">
                            <img src="/Content/img/common/logo-pack.png?img=20170817_01" alt="pack" class="is-max-width">
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="https://tw.petique.com/home/" class="b-block" target="_blank">
                        <figure class="m-footer-logo is-petique">
                            <img src="/Content/img/common/logo-petique.png?img=20170817_01" alt="pack" class="is-max-width">
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="https://hahow.in/" class="b-block" target="_blank">
                        <figure class="m-footer-logo is-hahow">
                            <img src="/Content/img/common/logo-hahow.png?img=20170817_01" alt="pack" class="is-max-width">
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="http://www.udf.com.tw/" class="b-block" target="_blank">
                        <figure class="m-footer-logo is-udf">
                            <img src="/Content/img/common/logo-udf.png?img=20170817_01" alt="pack" class="is-max-width">
                        </figure>
                    </a>
                </li>
            </ul>
        </div>
        <small class="m-footer-copyright b-desc is-xs b-text-white"><p>© 台新國際商業銀行<span class="b-hide-xs"> </span><br class="b-br-xs">Copyright Taishin International Bank.<span class="b-hide-xs"> </span><br class="b-br-xs">All Rights Reserved.</p></small>
    </footer>
</div>