<div class="l-header">
    <header class="m-header b-table jQ-header" data-scroll-bgcolor="yellow" data-scroll="is-scroll">
        <h1>Richart - 最能幫年輕人存到錢的銀行</h1>
        <div class="m-header-logo b-middle">
            <a href="http://richart.tw/" target="_blank" ga_cat="nav" ga_event="click" ga_label="logo">
                <span class="m-icon-stack">
                    <i class="m-icon m-icon-stack-logo"></i>
                    <i class="m-icon m-icon-stack-logo-tie is-absolute"></i>
                    <i class="m-icon m-icon-stack-logo-slogon is-absolute"></i>
                </span>
            </a>
        </div>
        <div class="m-header-tools b-table-nowrap">
            <button type="button" class="m-header-nav-ctrl jQ-navCtrl" data-nav="is-nav" data-bar-color="black"><i class="m-header-bar"></i><i class="m-icon m-icon-menu"></i></button>
        </div>
        <nav class="m-nav b-middle b-bg-black-dt b-bg-black-opacity-85-xs b-text-center-xs jQ-nav">
            <ul class="m-nav-link">
                <li><a href="http://richart-story.sugarfun.com.tw/" class="b-text-white" ga_cat="nav" ga_event="click" ga_label="index"><em class="b-desc">首頁</em></a></li>
                <li><a href="http://richart-story.sugarfun.com.tw/story" class="b-text-white" ga_cat="nav" ga_event="click" ga_label="story"><em class="b-desc">浪浪故事</em></a></li>
                <!-- ↓ 請放入 login 的網址 -->
                <li><a href="javascript:;" class="b-text-white is-active" ga_cat="nav" ga_event="click" ga_label="login"><em class="b-desc">我要幫助浪浪</em></a></li>

                <li><a href="http://richart-story.sugarfun.com.tw/activity" class="b-text-white" ga_cat="nav" ga_event="click" ga_label="activity"><em class="b-desc">活動辦法</em></a></li>
            </ul>
            <ul class="m-nav-share">
                <li class="b-inline-xs"><a href="http://www.facebook.com/sharer/sharer.php?hashtag=%23Richart&u=http://richart-story.sugarfun.com.tw/?openExternalBrowser=1" class="m-nav-item jQ-share" ga_cat="nav" ga_event="click" ga_label="fb"><i class="m-icon m-icon-facebook b-text-white b-desc b-text-center b-bg-facebook"></i></a></li>
                <!-- line 的說明文字 請 encode 中文訊息 EX: "許多毛孩時常會遇到危險，因為我們忽略，讓牠們沒有機會被看見，今天，我們多一分關懷，一起和Richart幫助牠們找到幸福的機會！" -->
                <li class="b-hide-md b-inline-xs"><a href="http://line.naver.jp/R/msg/text/?%E8%A8%B1%E5%A4%9A%E6%AF%9B%E5%AD%A9%E6%99%82%E5%B8%B8%E6%9C%83%E9%81%87%E5%88%B0%E5%8D%B1%E9%9A%AA%EF%BC%8C%E5%9B%A0%E7%82%BA%E6%88%91%E5%80%91%E5%BF%BD%E7%95%A5%EF%BC%8C%E8%AE%93%E7%89%A0%E5%80%91%E6%B2%92%E6%9C%89%E6%A9%9F%E6%9C%83%E8%A2%AB%E7%9C%8B%E8%A6%8B%EF%BC%8C%E4%BB%8A%E5%A4%A9%EF%BC%8C%E6%88%91%E5%80%91%E5%A4%9A%E4%B8%80%E5%88%86%E9%97%9C%E6%87%B7%EF%BC%8C%E4%B8%80%E8%B5%B7%E5%92%8CRichart%E5%B9%AB%E5%8A%A9%E7%89%A0%E5%80%91%E6%89%BE%E5%88%B0%E5%B9%B8%E7%A6%8F%E7%9A%84%E6%A9%9F%E6%9C%83%EF%BC%81http://richart-story.sugarfun.com.tw/?openExternalBrowser=1" class="m-nav-item" ga_cat="nav" ga_event="click" ga_label="line"><i class="m-icon m-icon-line b-text-white b-desc b-text-center b-bg-line"></i></a></li>
            </ul>
        </nav>
    </header>
</div>