<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no" />
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
<meta property="og:title" content="毛孩告急！救援浪浪 不再忽視" />
<meta property="og:description" name="description" content="你的一小步，是浪浪的一輩子！多一分關懷，多一份幸福" />
<meta property="og:type" content="website"/>
<!-- og:url 每一頁指定自己的網址 EX: https://richart.tw/TSDIB_RichartWeb/RC00/RC000000/ -->
<meta property="og:url" content="" />
<!-- og:image 請指定完整網址 EX: https://richart.tw/TSDIB_RichartWeb/RC00/IMAGE/FB.jpg -->
<meta property="og:image" content=""/>
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="474" />
<meta property="og:image:height" content="246" />
<meta property="og:site_name" content="毛孩告急！救援浪浪 不再忽視"/>