@mixin basic-flex {
    @include display-flex;

    &.is-wrap {
        @include flex-wrap(wrap);
    }

    &.is-wrap-reverse {
        @include flex-wrap(wrap-reverse);
    }
}

.b-transition-none {
    @include transition(none !important);
}

@include respond(Desktops) {
    .b-h2 {
        font-size : 48px;
    }

    /*.b-h3 {
        font-size : 40px;

        &.is-sm {
            font-size : 35px;
        }
    }*/

    .b-h4 {
        font-size : 18px;
    }

    .b-desc {
        font-size : 16px;

        /*&.is-sm {
            font-size : 14px;
        }*/

        &.is-xs {
            font-size : 12px;
        }
    }

    .b-flex-row, .b-flex-row-md, .b-flex-row-dt,
    .b-flex-row-reverse, .b-flex-row-reverse-md, .b-flex-row-reverse-dt,
    .b-flex-column, .b-flex-column-md, .b-flex-column-dt,
    .b-flex-column-reverse, .b-flex-column-reverse-md, .b-flex-column-reverse-dt {
        @include basic-flex;
    }
}
    
@include respond(Desktops-Tablets) {}

@include respond(Tablets-Mobiles) {}

@include respond(Tablets) {
    .b-h2 {
        font-size : units(36px, $tablet-min-width, 1vw);
    }

    /*.b-h3 {
        font-size : units(30px, $tablet-min-width, 1vw);

        &.is-sm {
            font-size : units(26px, $tablet-min-width, 1vw);
        }
    }*/

    .b-h4 {
        font-size : units(16px, $tablet-min-width, 1vw);
    }

    .b-desc {
        font-size : units(14px, $tablet-min-width, 1vw);

        &.is-sm {
            font-size : units(13px, $tablet-min-width, 1vw);
        }

        &.is-xs {
            font-size : units(12px, $tablet-min-width, 1vw);
        }
    }

    .b-flex-row, .b-flex-row-dt, .b-flex-row-sm, .b-flex-row-tm,
    .b-flex-row-reverse, .b-flex-row-reverse-dt, .b-flex-row-reverse-sm, .b-flex-row-reverse-tm,
    .b-flex-column, .b-flex-column-dt, .b-flex-column-sm, .b-flex-column-tm,
    .b-flex-column-reverse, .b-flex-column-reverse-dt, .b-flex-column-reverse-sm, .b-flex-column-reverse-tm {
        @include basic-flex;
    }
}

@include respond(Mobiles) {
    .b-h2 {
        font-size : units(24px, $mobile-min-width, 1vw);
    }

    /*.b-h3 {
        font-size : units(20px, $mobile-min-width, 1vw);

        &.is-sm {
            font-size : units(18px, $mobile-min-width, 1vw);
        }
    }*/

    .b-h4 {
        font-size : units(16px, $mobile-min-width, 1vw);
    }

    .b-desc {
        font-size : units(14px, $mobile-min-width, 1vw);

        /*&.is-lg {
            font-size : units(15px, $mobile-min-width, 1vw);
        }*/

        &.is-sm {
            font-size : units(13px, $mobile-min-width, 1vw);
        }

        &.is-xs {
            font-size : units(12px, $mobile-min-width, 1vw);
        }
    }

    .b-flex-row, .b-flex-row-tm, .b-flex-row-xs,
    .b-flex-row-reverse, .b-flex-row-reverse-tm, .b-flex-row-reverse-xs,
    .b-flex-column, .b-flex-column-tm, .b-flex-column-xs,
    .b-flex-column-reverse, .b-flex-column-reverse-tm, .b-flex-column-reverse-xs {
        @include basic-flex;
    }
}