.m-header {
    width    : 100%;
    height   : 100%;
    position : relative;
    @include box-sizing(border-box);
    @inlcude transition(background-color $transition-times);

    &.is-scroll {
        @each $key, $value in $color {
            &[data-scroll-bgcolor="#{$key}"] {
                background : rgba($value, .9);
            }
        }
    }

    > h1 {
        top      : 0;
        left     : -99999px;
        position : absolute;
    }
}

.m-header-logo {
    height : 100%;
}

.m-header-nav-ctrl {
    display  : block;
    position : relative;
    z-index  : 4;

    @each $key, $value in $color {
        &[data-bar-color="#{$key}"] {
            &:before, &:after, .m-header-bar {
                background : $value;
            }
        }
    }

    &:before, &:after {
        content  : "";
        left     : 0;
        width    : 70%;
        position : absolute;
        @include transition(top $transition-times, left $transition-times, transform $transition-times, background-color $transition-times);
    }

    &:not(.is-nav) {
        &:before {
            top : 0;
        }
    }

    .m-icon {
        position : relative;
        @include clearfix;
        @include transition(max-height $transition-times);
    }

    &:not(.is-nav) {
        &:before, &:after {
            @include transform(rotate(0deg));
            @include transform-origin(left, center);
        }

        .m-header-bar {
            width : 85%;
        }

        .m-icon {
            max-height : 20px;
        }
    }

    &.is-nav {
        &:before, &:after, .m-header-bar {
            background : $color-white;
        }

        &:before, &:after {
            top  : 50%;
            /*left : 50%;*/
            @include transform-origin(center, center);
        }

        &:before {
            @include transform(rotate(45deg) translateY(-50%));
        }

        &:after {
            @include transform(rotate(-45deg) translateY(-50%));
        }

        .m-header-bar {
            width : 0;
        }

        .m-icon {
            max-height : 0;
        }
    }
}

.m-header-bar {
    display : block;
    @include clearfix;
    @include transition(width $transition-times, background-color $transition-times);
}

@include respond(Desktops) {
    .m-header {
        padding-left  : map-get($content-padding, md);
        padding-right : map-get($content-padding, md);
    }

    .m-header-logo {
        .m-icon {
            font-size : 50px;
        }
    }

    .m-header-nav-ctrl {
        width : 40px;

        &:not(.is-nav) {
            &:after {
                top : 20px;
            }
        }

        &.is-nav {
            &:before {
                left : -4px;
            }
        }

        &:before, &:after, .m-header-bar {
            height : 6px;
            @include border-radius(6px);
        }

        .m-icon {
            margin-top : 5px;

            &.m-icon-menu {
                margin-left : -7px;
                @include font-min-size(9px);
            }
        }
    }

    .m-header-bar {
        margin-top    : 10px;
        margin-bottom : 10px;
    }
}

@include respond(Desktops-Tablets) {}

@include respond(Tablets-Mobiles) {}

@include respond(Tablets) {
    .m-header {
        padding-left  : units(map-get($content-padding, sm), $tablet-min-width, 1vw);
        padding-right : units(map-get($content-padding, sm), $tablet-min-width, 1vw);
    }

    .m-header-logo {
        .m-icon {
            font-size : units(35px, $tablet-min-width, 1vw);
        }
    }

    .m-header-nav-ctrl {
        width : 38px;

        &:not(.is-nav) {
            &:before {
                top: 1px;
            }

            &:after {
                top : 15px;
            }
        }

        &.is-nav {
            &:before {
                left : -3px;
            }
        }

        &:before, &:after, .m-header-bar {
            height : 4px;
            @include border-radius(4px);
        }

        .m-icon {
            &.m-icon-menu {
                margin-left : -9px;
                @include font-min-size(8px);
            }
        }
    }

    .m-header-bar {
        margin-top    : 8px;
        margin-bottom : 8px;
    }
}

@include respond(Mobiles) {
    .m-header {
        padding-left  : units(map-get($content-padding, xs), $mobile-min-width, 1vw);
        padding-right : units(map-get($content-padding, xs), $mobile-min-width, 1vw);
    }

    .m-header-logo {
        .m-icon {
            font-size : units(25px, $mobile-min-width, 1vw);
        }
    }

    .m-header-nav-ctrl {
        width  : 36px;
        height : 40px;

        &:not(.is-nav) {
            &:before {
                top: 6px;
            }

            &:after {
                top : 20px;
            }
        }

        &.is-nav {
            &:before {
                left : -2px;
            }
        }

        &:before, &:after, .m-header-bar {
            height : 3px;
            @include border-radius(3px);
        }

        .m-icon {
            position: absolute;
            bottom: 4px;
            left: 0;

            &.m-icon-menu {
                @include font-min-size(7px);
                @include transform-origin(left, center);
            }
        }
    }

    .m-header-bar {
        position: absolute;
        top: 13px;
    }
}