<!--#include virtual="../../Views/Shared/_Document.html" -->
<head>
	<!--#include virtual="../../Views/Shared/_Meta.html" -->
	<title>Richart - 最能幫年輕人存到錢的銀行</title>
	<!--#include virtual="../../Views/Shared/_GlobalLink.html" -->
	<!-- self link begin -->
	<link rel="stylesheet" href="../../Content/css/index.css?css=20170821_01">
	<!-- self link end -->
</head>
<body>
	<div class="l-body jQ-body is-full">
		<!-- ==================== l-header begin ==================== -->
		<!--#include virtual="../../Views/Shared/_Header.html" -->
		<!-- ==================== l-header end ==================== -->
		<div class="l-main jQ-main is-full">
			<main class="l-content jQ-content">
				<div class="index b-bg-black" data-index="">
					<header class="index-hd b-text-center">
						<h2 class="page-title">
							<em class="b-hide-text">毛孩告急！救援浪浪 不再忽視</em>
							<svg class="svg-icon sos-gradient">
								<linearGradient id="gradient2" gradientUnits="userSpaceOnUse" x1="50.1167" y1="82.1667" x2="50.1167" y2="18.3279">
									<stop offset="0" style="stop-color:#FFAE00"/>
									<stop offset="1" style="stop-color:#FFC600"/>
								</linearGradient>
								<use xlink:href="../../Content/svg/icon.svg?svg=20170824_01#sos-gradient"/>
							</svg>
							<svg class="svg-icon title-main-gradient">
								<linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="50" y1="62.8125" x2="50" y2="38.0511">
									<stop offset="0" style="stop-color:#FFAE00"/>
									<stop offset="1" style="stop-color:#FFC600"/>
								</linearGradient>
								<use xlink:href="../../Content/svg/icon.svg?svg=20170824_01#title-main-gradient"/>
							</svg>
							<svg class="svg-icon title-sub"><use xlink:href="../../Content/svg/icon.svg?svg=20170824_01#title-sub"/></svg>
							<em class="slogan b-bold b-text-center">多一個眼神 多一份關懷<br>支持巴克動物協會救援行動，<br class="b-show-i5">給浪浪活下去的希望！</em>
							<svg class="svg-icon diamond b-hide-i5"><use xlink:href="../../Content/svg/icon.svg?svg=20170824_01#diamond"/></svg>
							<svg class="svg-icon diamond-i5 b-show-i5"><use xlink:href="../../Content/svg/icon.svg?svg=20170824_01#diamond-i5"/></svg>
							<svg class="svg-icon arrow-down"><use xlink:href="../../Content/svg/icon.svg?svg=20170824_01#arrow-down"/></svg>
						</h2>
					</header>
					<div class="index-bd">
						<div class="selection-wrap">
							<div class="selection-content jQ-selection">
								<figure class="img-wrap b-hide-xs">
									<img src="../../Content/img/index/cat.jpg?img=20170825_01" alt="看浪貓的故事">
								</figure>
								<figure class="img-wrap b-hide-dt">
									<img src="../../Content/img/index/cat-m.jpg?img=20170825_01" alt="看浪貓的故事">
								</figure>
								<a href="stories.html?pet=cat" class="m-button b-middle ga_click_trace">
									<em class="text b-bold">看浪貓的故事</em>
									<i class="btn-icon"></i>
								</a>
							</div>
							<div class="selection-content jQ-selection">
								<figure class="img-wrap b-hide-xs">
									<img src="../../Content/img/index/dog.jpg?img=20170825_01" alt="看浪犬的故事">
								</figure>
								<figure class="img-wrap b-hide-dt">
									<img src="../../Content/img/index/dog-m.jpg?img=20170825_01" alt="看浪犬的故事">
								</figure>
								<a href="stories.html?pet=dog" class="m-button b-middle ga_click_trace">
									<em class="text b-bold">看浪犬的故事</em>
									<i class="btn-icon"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<!-- ==================== l-footer begin ==================== -->
		<!--#include virtual="../../Views/Shared/_Footer.html" -->
		<!-- ==================== l-footer end ==================== -->
	</div>
	<!-- ==================== not support begin ==================== -->
	<!--#include virtual="../../Views/Shared/_Not-Support.html" -->
	<!-- ==================== not support end ==================== -->
	<!--#include virtual="../../Views/Shared/_GlobalScriptsGA.html" -->
	<!--[if gt IE 9]><!-->
	<!-- common script ft begin -->
	<!--#include virtual="../../Views/Shared/_GlobalScriptsLibs.html" -->
	<!--#include virtual="../../Views/Shared/_GlobalScriptsFt.html" -->
	<!-- common script ft end -->
	<!-- self script begin -->
	<script defer type="text/javascript" src="../../Scripts/js/index.js?js=20170821_01"></script>
	<!-- self script end -->
	<!--<![endif]-->
</body>
</html>